@use "src/assets/base" as *;
@use "../table.variables" as *;

table-pager {
  display: block;

  .table-pager {
    display: flex;
    align-items: center;

    > span {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: $secondary-light;
    }

    .pager-options {
      margin-left: 10px;
      display: flex;
      align-items: center;

      button {
        @extend %table-button;

        + button {
          margin-left: 5px;
        }
      }
    }
  }
}
