<div class="table-pager">
  <span>
    {{ "modules.table.pager.label" | translate }}
  </span>
  <div class="pager-options">
    <ng-container *ngFor="let option of options">
      <button
        *ngIf="option <= total"
        type="button"
        [class.active]="current === option"
        [disabled]="current === option"
        (click)="onPagerChange.next(option)"
      >
        {{ option }}
      </button>
    </ng-container>
  </div>
</div>
