@use "src/assets/base" as *;

.stafr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $form-element-height;
  border-radius: $form-element-radius;
  padding: 0 20px;
  border: 1px solid transparent;
  font-weight: 600;
  @extend %button;

  &.small {
    height: 36px;
  }

  stafr-icon {
    pointer-events: none;
  }

  &.fluid {
    width: 100%;
  }

  &.rounded {
    border-radius: 40px;
  }

  &.white {
    color: $secondary-light;
    background-color: $white;
    border-color: $white;

    &:hover:not(:disabled) {
      background-color: $white-1;
      border-color: $white-1;
    }

    &:active:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $white-2;
      border-color: $white-2;
    }

    &:disabled {
      opacity: 60%;
    }
  }

  &.primary {
    color: white;
    @include bgColorState($primary);
  }

  &.secondary {
    color: white;
    @include bgColorState($secondary);
  }

  &.warn {
    color: white;
    @include bgColorState($warn);
  }

  &.gray-outlined {
    color: $gray-dark;
    background-color: transparent;
    border-color: $gray;
  }

  &.secondary-outlined {
    color: $secondary;
    background-color: transparent;
    border-color: $secondary;
  }

  &.warn-outlined {
    color: $warn;
    background-color: transparent;
    border-color: $warn;
  }

  &.has-icon:not(.has-text) {
    min-width: auto;
    height: auto;
    padding: 4px;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: #f4f4f4;
      border-color: #f4f4f4;
    }

    &:active {
      background-color: #e4e4e4;
      border-color: #e4e4e4;
    }

    &:disabled {
      opacity: 0.5;
      background-color: inherit;
      border: inherit;
    }
  }

  &.has-text stafr-icon {
    margin-right: 10px;
  }
}
