<div class="dashboard-business-chart">
  <h4>{{ "dashboard.business-chart.caption" | translate }}</h4>
  <ng-container *ngIf="bars$ | async as bars">
    <h2>{{ income | stafrCurrency: true }}</h2>
    <stafr-chart
      [chartHeight]="200"
      [barWidth]="60"
      [scrollToEnd]="true"
      [bars]="bars"
    ></stafr-chart>
  </ng-container>
</div>
