<stafr-card>
  <stafr-table [source]="source$" (onRowClick)="onRowClick($event)">
    <stafr-button
      *tableAction
      [text]="'clients.list.create-btn' | translate"
      icon="add"
      iconSize="24"
      type="white"
      routerLink="create"
      [rounded]="true"
    ></stafr-button>
    <div class="no-clients" *tableEmpty>
      <img src="assets/illustrations/no-clients.svg" alt="" />
      <h1>{{ "clients.no-data.caption" | translate }}</h1>
      <p>{{ "clients.no-data.message" | translate }}</p>
      <stafr-button
        icon="add"
        iconSize="24"
        type="secondary-outlined"
        routerLink="create"
        [text]="'clients.no-data.create-btn' | translate"
        [rounded]="true"
      ></stafr-button>
    </div>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'client.number';
          filterBy: 'client.number';
          filterType: 'number'
        "
      >
        {{ "clients.list.no" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.number }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'client.name';
          filterBy: 'client.name';
          filterType: 'string'
        "
      >
        {{ "clients.list.name" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.name }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'client.company';
          filterBy: 'client.company';
          filterType: 'string'
        "
      >
        {{ "clients.list.company" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.company }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''">
        {{ "clients.list.orders" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.ordersCount }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''">
        {{ "clients.list.contracts" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.contractsCount }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'client.createdAt';
          filterBy: 'client.createdAt';
          filterType: 'date'
        "
      >
        {{ "clients.list.createdAt" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.createdAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>

<router-outlet></router-outlet>
