<stafr-dialog
  #dialog
  [caption]="'contracts.month.edit.caption' | translate"
  [opened]="true"
  minWidth="660px"
  maxWidth="660px"
  routeBack="../../"
>
  <section-contract-month-form
    #formComponent
    [form]="form$ | async"
    (submitted)="onSubmit($event)"
  ></section-contract-month-form>
  <ng-container *dialogAction="'end'">
    <stafr-button
      type="primary"
      [text]="'contracts.month.edit.submit' | translate"
      (clicked)="formComponent.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>
