@use "src/assets/base" as *;

$bottom-gradient: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.5) 0%,
  rgba(0, 0, 0, 0) 30%
);
$cover-background: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.4)
);
$image-background: url("../../../assets/images/auth.jpg");

.auth-page {
  display: flex;
  width: 100%;
  height: 100vh;

  .auth-page-content {
    position: relative;
    width: 50%;
    padding: 40px;
    overflow: hidden;

    .top-figure {
      @include absolute(-40px, auto, auto, -90px);
      @include circle(180px);
      background-color: #f7faff;
    }

    .bottom-figure {
      @include absolute(auto, -120px, -120px, auto);
      @include circle(250px);
      background-color: #f7faff;
    }

    .content-section {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: auto;

      .text-box {
        height: 56px;
      }
    }
  }

  .auth-page-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 40px;
    background-image: $bottom-gradient, $cover-background, $image-background;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .logo {
      height: 40px;
      width: auto;
    }

    p {
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #ffffff;
    }
  }
}
