<div class="auth-page">
  <div class="auth-page-content">
    <span class="top-figure"></span>
    <span class="bottom-figure"></span>
    <section class="content-section">
      <router-outlet></router-outlet>
    </section>
  </div>
  <div class="auth-page-banner">
    <img class="logo" src="assets/logo-light.svg" alt="Stafr Logo" />
    <p>{{ "auth.banner.text" | translate }}</p>
  </div>
</div>
