<stafr-card>
  <stafr-table [source]="source$" (onRowClick)="onRowClick($event)">
    <ng-container tableColumn>
      <ng-container *tableHead="''">
        {{ "users.list.id" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.id }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''; sortBy: 'user.email'">
        {{ "users.list.email" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.email }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''; sortBy: 'user.role'">
        {{ "users.list.role" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-status-box [status]="$any(row.role)"></stafr-status-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''; sortBy: 'user.isBlocked'">
        {{ "users.list.blocked" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ "users.list.blocked.".concat(row.isBlocked) | translate }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''; sortBy: 'user.createdAt'">
        {{ "users.list.createdAt" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.createdAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>

<router-outlet></router-outlet>
