<stafr-card>
  <stafr-table [source]="source$">
    <ng-container tableColumn>
      <ng-container *tableHead="''">
        {{ "business.list.id" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.id }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''; sortBy: 'business.name'">
        {{ "business.list.name" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.name }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container *tableHead="''; sortBy: 'business.createdAt'">
        {{ "business.list.createdAt" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.createdAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>
