@use "src/assets/base" as *;

stafr-account-box {
  display: flex;
  justify-content: center;

  .account-box {
    display: flex;
    align-items: center;

    .account-info {
      text-align: left;
      margin-left: 10px;

      .account-name {
        display: block;
        line-height: 140%;
        font-weight: 600;
        color: $secondary-light;
        @include truncate();
      }

      .account-sub {
        display: block;
        line-height: 140%;
        font-weight: 500;
        color: $gray-dark;
        @include truncate();
      }
    }
  }
}
