<div class="account-box">
  <stafr-avatar [name]="name" [image]="image" [size]="size"></stafr-avatar>
  <div class="account-info">
    <span
      class="account-name"
      [style.fontSize.px]="size / 3"
      [style.width]="textWidth"
    >
      {{ name }}
    </span>
    <span
      *ngIf="sub"
      class="account-sub"
      [style.fontSize.px]="((size / 3) * 3) / 4"
      [style.width]="textWidth"
    >
      {{ sub }}
    </span>
  </div>
</div>
