<div class="business-overview">
  <div class="overview-item">
    <stafr-icon icon="clock-orange" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.business-overview.hourlyRevenue" | translate }}
      </span>
      <h4 class="item-value">
        {{ income?.toFixed(0) | stafrCurrency: true }}
      </h4>
    </div>
  </div>
  <span class="overview-line"></span>
  <div class="overview-item">
    <stafr-icon icon="people-green" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.business-overview.candidates" | translate }}
      </span>
      <h4 class="item-value">{{ candidatesAmount }}</h4>
    </div>
  </div>
  <span class="overview-line"></span>
  <div class="overview-item">
    <stafr-icon icon="orders-blue" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.business-overview.orders" | translate }}
      </span>
      <h4 class="item-value">{{ ordersAmount }}</h4>
    </div>
  </div>
  <span class="overview-line"></span>
  <div class="overview-item">
    <stafr-icon icon="contacts-red" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.business-overview.contracts" | translate }}
      </span>
      <h4 class="item-value">{{ contractsAmount }}</h4>
    </div>
  </div>
</div>
