@use "src/assets/base" as *;

.business-overview {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .overview-item {
    display: flex;
    width: 25%;

    .item-details {
      margin-left: 15px;

      .item-name {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $gray-dark;
      }

      .item-value {
        margin-top: 5px;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
        color: $secondary;
      }
    }
  }

  .overview-line {
    display: block;
    width: 1px;
    height: 70px;
    background-color: #f1f3f7;
    margin: 0 20px;
  }
}
