<stafr-dialog
  #dialog
  [caption]="'clients.create.caption' | translate"
  [opened]="true"
  minWidth="660px"
  maxWidth="660px"
  routeBack="../"
>
  <section-client-form
    #formComponent
    [form]="form"
    (submitted)="onSubmit($event)"
  ></section-client-form>
  <ng-container *dialogAction="'between'">
    <stafr-form [form]="pageForm">
      <form-group class="create-another-client">
        <check-box [control]="pageForm.get('createAnother')">
          {{ "clients.create.createAnother" | translate }}
        </check-box>
      </form-group>
    </stafr-form>
    <stafr-button
      type="primary"
      [text]="'clients.create.submit' | translate"
      (clicked)="formComponent.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>
