<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="team-member-form"
>
  <form-group
    class="fullName"
    [label]="'forms.team-member.fullName.label' | translate"
    [validators]="validators.fullName"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.team-member.fullName.placeholder' | translate"
      [control]="form.get('fullName')"
    ></text-box>
  </form-group>
  <form-group
    class="role"
    [label]="'forms.team-member.role.label' | translate"
    [validators]="validators.role"
  >
    <select-box
      theme="filled"
      valueKey="value"
      [items]="roles$ | async"
      [placeholder]="'forms.team-member.role.placeholder' | translate"
      [control]="form.get('role')"
    >
      <ng-container *selectBoxTemplate="let item">
        <span
          class="select-box-role-bullet"
          [style.backgroundColor]="colors[item.value]"
        ></span>
        <span class="select-box-role-name">{{ item.key }}</span>
      </ng-container>
    </select-box>
  </form-group>
</stafr-form>
