@use "src/assets/base" as *;

dashboard-activities {
  height: 100%;
  display: flex;
  flex-direction: column;

  .dashboard-activities-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      @extend %card-title;
    }

    .view-all-btn .stafr-icon {
      color: $gray-dark;
    }
  }

  .dashboard-activities-container {
    margin-top: 20px;
    height: 100%;
    overflow: auto;
    @include v-scrollbar();
  }

  .dashboard-activities-empty {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 210px;
      width: auto;
    }
  }
}
