<ng-container *ngIf="activities?.length; else empty">
  <div class="dashboard-activities-header">
    <h4>{{ "dashboard.activities.caption" | translate }}</h4>
    <stafr-button
      class="view-all-btn"
      icon="arrow-forward"
      iconSize="16"
      routerLink="activities"
    ></stafr-button>
  </div>
  <section-activities-view
    class="dashboard-activities-container"
    [activities]="activities"
  ></section-activities-view>
</ng-container>

<ng-template #empty>
  <div class="dashboard-activities-header">
    <h4>{{ "dashboard.activities.no-activities" | translate }}</h4>
  </div>
  <figure class="dashboard-activities-empty">
    <img src="assets/illustrations/space.svg" alt="" />
  </figure>
</ng-template>
