<ng-container *ngIf="orders?.length; else empty">
  <div class="dashboard-hr-orders-header">
    <h4>{{ "dashboard.hr-orders.caption" | translate }}</h4>
  </div>

  <div class="dashboard-hr-orders-table">
    <table>
      <tr>
        <th>
          {{ "dashboard.hr-orders.no" | translate }}
        </th>
        <th>
          {{ "dashboard.hr-orders.profession" | translate }}
        </th>
        <th>
          {{ "dashboard.hr-orders.date" | translate }}
        </th>
      </tr>
      <tr *ngFor="let order of orders">
        <td>{{ order.number }}</td>
        <td>{{ order.profession }}</td>
        <td>
          {{ order.createdAt | stafrDate: "full-date" }}
        </td>
      </tr>
    </table>
  </div>
</ng-container>

<ng-template #empty>
  <div class="dashboard-hr-orders-header">
    <h4>{{ "dashboard.hr-orders.no-orders" | translate }}</h4>
  </div>
  <figure class="dashboard-hr-orders-empty">
    <img src="assets/illustrations/document.svg" alt="" />
  </figure>
</ng-template>
