@use "src/assets/base" as *;

.stafr-account {
  display: flex;
  align-items: center;

  .account-info {
    margin-left: 12px;

    h4 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: $secondary;
    }

    h6 {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: $gray-dark;
    }
  }

  stafr-button {
    margin-left: 10px;
  }
}
