<div class="stafr-account">
  <stafr-avatar [image]="avatar" [name]="fullName" size="42"></stafr-avatar>
  <div class="account-info">
    <h4>{{ fullName }}</h4>
    <h6>{{ "enum.".concat(role) | translate }}</h6>
  </div>
  <stafr-button
    icon="chevron-down"
    iconSize="20"
    (clicked)="onShowMenu.emit($event)"
  ></stafr-button>
</div>
