<div class="stafr-overlay" *ngFor="let overlay of overlays" [@overlayWrapper]>
  <div
    class="overlay-container"
    [ngClass]="overlay.overlayClass"
    (click)="overlay.overlayClose && close(overlay.id)"
  ></div>
  <div
    class="overlay-body"
    [positionBy]="overlay.trigger"
    [strategy]="overlay.position"
    [fallback]="overlay.fallback"
  >
    <ng-container [ngTemplateOutlet]="overlay.template"></ng-container>
  </div>
</div>
