@use "../../../../assets/base/index" as *;

.stafr-switch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;

  .stafr-switch-item {
    .item-image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      border-radius: 10px;
      background-color: #eef1f6;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      text-transform: uppercase;
      font-size: 56px;
      line-height: 56px;
      color: $secondary-light;
      font-weight: 600;
      @include elevate(5);
    }

    .item-name {
      display: block;
      margin-top: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: $secondary-light;
      @include truncate(120px);
    }

    &:hover .item-name,
    &:focus .item-name {
      color: $secondary;
    }

    &.add {
      .add-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 10px;
        background-color: #eef1f6;
        @include smoothTransition(background-color);

        &:hover,
        &:focus {
          background-color: darken(#eef1f6, 3%);
        }

        &:active {
          background-color: darken(#eef1f6, 6%);
        }

        .stafr-icon {
          color: $primary;
        }
      }
    }
  }
}
