<div class="stafr-switch">
  <button
    *ngFor="let account of accounts"
    type="button"
    class="stafr-switch-item"
    title="{{ 'header.switch.select-business' | translate }} {{
      account.businessName
    }}"
    (click)="onBusinessSelect.emit(account.accountId)"
  >
    <div
      class="item-image"
      [style.backgroundImage]="'url(' + account.businessLogo + ')'"
    >
      <ng-container *ngIf="!account.businessLogo">
        {{ account.businessName?.charAt(0) }}
      </ng-container>
    </div>
    <span class="item-name">{{ account.businessName }}</span>
  </button>
  <button
    type="button"
    class="stafr-switch-item add"
    [title]="'header.switch.create-business' | translate"
    (click)="onBusinessCreate.emit()"
  >
    <span class="add-box">
      <stafr-icon icon="add-circle" size="32"></stafr-icon>
    </span>
    <span class="item-name">
      {{ "header.switch.create-business" | translate }}
    </span>
  </button>
</div>
