@use "src/assets/base" as *;

.view-client-page {
  .client-header {
    display: flex;
    justify-content: space-between;

    .client-meta {
      .client-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $secondary-light;
      }

      .client-company {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $gray-dark;
      }
    }

    .client-buttons .misc-buttons {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      stafr-button .stafr-icon {
        color: $gray;
      }
    }
  }

  .client-contact {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #fbfdff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: $secondary-light;
      @include truncate;
    }

    .contact-actions {
      display: flex;
      align-items: center;

      stafr-button {
        margin-left: 7px;

        stafr-icon {
          color: $gray-dark;
        }
      }
    }
  }

  .client-small-caption {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $secondary-light;
  }

  .client-docs {
    margin-top: 40px;

    .doc-box {
      margin-top: 15px;
      padding: 20px 30px;
      border: 1px solid $gray-white;
      border-radius: 12px;

      .doc-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: $secondary-light;
        }
      }

      .doc-box-info {
        li {
          display: flex;
          align-items: center;
          margin-top: 10px;

          span {
            font-size: 13px;
            line-height: 19px;
            color: $secondary-light;

            &:first-child {
              font-weight: 500;
            }

            &:last-child {
              font-weight: 400;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
