<stafr-slider
  *ngIf="client$ | async as client"
  class="view-client-page"
  [caption]="'clients.view.caption' | translate"
  [sub]="
    'clients.view.sub'
      | translate: { date: client.updatedAt | stafrDate: 'time-ago' }
  "
  [opened]="true"
  routeBack="../"
>
  <div class="client-header">
    <div class="client-meta">
      <h2 class="client-name">{{ client.name }}</h2>
      <span class="client-company">{{ client.company }} </span>
    </div>
    <div class="client-buttons">
      <stafr-button
        [text]="'clients.view.edit-btn' | translate"
        icon="edit"
        type="secondary-outlined"
        [rounded]="true"
        routerLink="edit"
      ></stafr-button>
      <div class="misc-buttons">
        <stafr-button
          icon="delete-forever"
          iconSize="20"
          [title]="'clients.view.delete-btn' | translate"
          (clicked)="onClientDelete(client)"
        ></stafr-button>
      </div>
    </div>
  </div>

  <div class="client-contact">
    <h4>{{ client.contact }}</h4>
    <div class="contact-actions">
      <stafr-button
        icon="copy"
        iconSize="16"
        (clicked)="onContactCopy(client.contact)"
      ></stafr-button>
      <stafr-button
        *ngIf="client.contact | isEmail"
        icon="email"
        iconSize="16"
        (clicked)="onContactEmail(client.contact)"
      ></stafr-button>
      <stafr-button
        *ngIf="client.contact | isUrl"
        icon="open-in-tab"
        iconSize="16"
        (clicked)="onContactUrl(client.contact)"
      ></stafr-button>
    </div>
  </div>

  <div class="client-docs" *ngIf="client.contracts?.length">
    <h4 class="client-small-caption">
      {{ "clients.view.contracts.caption" | translate }}
    </h4>
    <div class="doc-box" *ngFor="let contract of client.contracts">
      <div class="doc-box-header">
        <h4>#{{ contract.number }}</h4>
        <stafr-status-box [status]="contract.status"></stafr-status-box>
      </div>
      <ul class="doc-box-info">
        <li>
          <span>
            {{ "clients.view.contracts.profession" | translate }}
          </span>
          <span>{{ contract.profession }}</span>
        </li>
        <li>
          <span>
            {{ "clients.view.contracts.income" | translate }}
          </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate:
                        (contract | contractInfo)?.monthIncome | stafrCurrency
                    }
            }}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div class="client-docs" *ngIf="client.orders?.length">
    <h4 class="client-small-caption">
      {{ "clients.view.orders.caption" | translate }}
    </h4>
    <div class="doc-box" *ngFor="let order of client.orders">
      <div class="doc-box-header">
        <h4>#{{ order.number }}</h4>
        <stafr-status-box [status]="order.status"></stafr-status-box>
      </div>
      <ul class="doc-box-info">
        <li>
          <span>
            {{ "clients.view.orders.profession" | translate }}
          </span>
          <span>{{ order.profession }}</span>
        </li>
        <li>
          <span>
            {{ "clients.view.orders.rate" | translate }}
          </span>
          <span>
            {{ order.rateAmount | stafrCurrency: false:order.rateCurrency }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</stafr-slider>

<router-outlet></router-outlet>
