<header class="stafr-header">
  <img class="stafr-logo" src="assets/logo-dark.svg" alt="Stafr Logo" />
  <stafr-search *rbac="[UserRole.Account]; accounts: []"></stafr-search>
  <stafr-account
    *ngIf="principal$ | async as principal"
    [avatar]="principal.accountAvatar"
    [fullName]="principal.accountName || principal.userEmail"
    [role]="principal.accountRole || principal.userRole"
    (onShowMenu)="accountOverlay.open($any($event.target))"
  ></stafr-account>
</header>

<ng-template
  overlay
  #accountOverlay="overlay"
  overlayX="right"
  overlayY="top"
  originX="right"
  originY="bottom"
  offsetY="24"
>
  <stafr-account-menu
    (click)="accountOverlay.close()"
    (onLogout)="onLogout()"
    (onSwitchBusiness)="switchBusinessDialog.open()"
    (onAccountSettings)="settingsAccountDialog.open()"
    (onBusinessSettings)="settingsBusinessDialog.open()"
  ></stafr-account-menu>
</ng-template>

<stafr-dialog
  #switchBusinessDialog
  [caption]="'header.switch.dialog-caption' | translate"
  minWidth="680px"
>
  <stafr-switch
    [accounts]="accounts$ | async"
    (onBusinessCreate)="
      switchBusinessDialog.close(); createAccountDialog.open()
    "
    (onBusinessSelect)="onBusinessSwitch($event, switchBusinessDialog)"
  ></stafr-switch>
</stafr-dialog>

<stafr-dialog
  #createAccountDialog
  [caption]="'header.create-account.dialog-caption' | translate"
  minWidth="420px"
  maxWidth="420px"
  (closed)="createAccountForm.reset()"
>
  <section-account-create
    #createAccountForm
    [form]="accountCreateForm"
    (submitted)="
      onAccountCreate($event, createAccountDialog, createAccountForm)
    "
  ></section-account-create>
  <stafr-button
    type="primary"
    [fluid]="true"
    [text]="'header.create-account.dialog-button' | translate"
    (clicked)="createAccountForm.submit()"
  ></stafr-button>
</stafr-dialog>

<stafr-dialog
  #settingsAccountDialog
  [caption]="'header.settings-account.dialog-caption' | translate"
  minWidth="660px"
  maxWidth="660px"
>
  <section-account-settings
    #settingsAccountForm
    [form]="accountSettingsForm$ | async"
    (submitted)="
      onAccountSettings($event, settingsAccountDialog, settingsAccountForm)
    "
  ></section-account-settings>
  <ng-container *dialogAction="'between'">
    <stafr-button
      type="warn-outlined"
      [text]="'header.settings-account.button.delete' | translate"
      (clicked)="onAccountDelete(settingsAccountDialog)"
    ></stafr-button>
    <stafr-button
      type="primary"
      [text]="'header.settings-account.button.save' | translate"
      (clicked)="settingsAccountForm.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>

<stafr-dialog
  #settingsBusinessDialog
  [caption]="'header.settings-business.dialog-caption' | translate"
  minWidth="660px"
  maxWidth="660px"
>
  <section-business-settings
    #settingsBusinessForm
    [form]="businessSettingsForm$ | async"
    (submitted)="
      onBusinessSettings($event, settingsBusinessDialog, settingsBusinessForm)
    "
  ></section-business-settings>
  <ng-container *dialogAction="'between'">
    <stafr-button
      type="warn-outlined"
      [text]="'header.settings-business.button.delete' | translate"
      (clicked)="onBusinessDelete(settingsBusinessDialog)"
    ></stafr-button>
    <stafr-button
      type="primary"
      [text]="'header.settings-business.button.save' | translate"
      (clicked)="settingsBusinessForm.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>
