@use "src/assets/base" as *;

.stafr-header {
  @include fixed(0, auto, auto, 0);
  z-index: 100;
  height: $header-height;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  padding: 0 60px 0 30px;

  .stafr-logo {
    height: auto;
    width: $logo-width;
    flex-shrink: 0;
  }

  stafr-search {
    display: block;
    width: 100%;
    margin: 0 0 0 $sidebar-width - $logo-width + 30px;
  }

  stafr-account {
    display: block;
    margin-left: auto;
    flex-shrink: 0;
  }
}
