@use "src/assets/base" as *;

.check-box {
  display: flex;
  align-items: center;
  user-select: none;

  input[type="checkbox"] {
    @extend %veiled;
  }

  .checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    flex-shrink: 0;
    @extend %form-state;

    .checker {
      display: none;
    }

    &.checked {
      background-color: $primary;
      border-color: $primary;
      box-shadow: $state-active-shadow;

      .checker {
        display: block;
        content: "";
        position: absolute;
        left: 4px;
        top: 5px;
        width: 11px;
        height: 6px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        transform: rotate(-45deg);
      }
    }
  }

  label {
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: $secondary-light;
  }
}
