<div class="check-box">
  <input
    #checkbox
    role="checkbox"
    type="checkbox"
    [id]="name"
    [name]="name"
    [formControl]="$any(control)"
    [readonly]="disabled"
    (focus)="focused = true"
    (blur)="focused = false"
  />
  <span
    clickable
    role="checkbox"
    class="checkbox"
    (click)="checkbox.click()"
    [ngClass]="formStyle"
  >
    <span class="checker"></span>
  </span>
  <label (click)="checkbox.click()">
    <ng-content></ng-content>
  </label>
</div>
