@use "src/assets/base" as *;

.contract-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.order,
    &.candidate {
      @include column(50%);
    }

    &.order-rate,
    &.candidate-rate,
    &.expenses {
      @include column(33.33333%);
    }

    &.profession {
      @include column(50%);
    }

    &.taxes,
    &.hours-per-month {
      @include column(25%);
    }
  }
}

.select-box-status-name {
  margin-left: 8px;
  font-size: $form-element-font-size;
  font-weight: $form-element-font-weight;
  color: $form-element-font-color;
  line-height: 48px;
  @include truncate;
}

.select-box-status-bullet {
  @include circle(10px);
}
