<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="contract-form"
>
  <form-group
    class="order"
    [label]="'forms.contract.order.label' | translate"
    [validators]="validators.order"
  >
    <select-box
      theme="filled"
      renderKey="profession"
      [items]="orders$ | async"
      [placeholder]="'forms.contract.order.placeholder' | translate"
      [control]="form.get('order')"
      (valueChanged)="onOrderChange($event)"
    ></select-box>
  </form-group>
  <form-group
    class="candidate"
    [label]="'forms.contract.candidate.label' | translate"
    [validators]="validators.candidate"
  >
    <select-box
      theme="filled"
      renderKey="name"
      [items]="candidates$ | async"
      [placeholder]="'forms.contract.candidate.placeholder' | translate"
      [control]="form.get('candidate')"
      (valueChanged)="onCandidateChange($event)"
    ></select-box>
  </form-group>

  <form-group
    class="order-rate"
    [label]="'forms.contract.orderRate.label' | translate"
    [validators]="validators.orderRate"
  >
    <rate-box theme="filled" [control]="form.get('orderRate')"></rate-box>
  </form-group>

  <form-group
    class="candidate-rate"
    [label]="'forms.contract.candidateRate.label' | translate"
    [validators]="validators.candidateRate"
  >
    <rate-box theme="filled" [control]="form.get('candidateRate')"></rate-box>
  </form-group>

  <form-group
    class="expenses"
    [label]="'forms.contract.expenses.label' | translate"
    [validators]="validators.expenses"
  >
    <rate-box theme="filled" [control]="form.get('expenses')"></rate-box>
  </form-group>

  <form-group
    class="profession"
    [label]="'forms.contract.profession.label' | translate"
    [validators]="validators.profession"
  >
    <autocomplete-box
      theme="filled"
      [items]="professions$ | async"
      [placeholder]="'forms.contract.profession.placeholder' | translate"
      [control]="form.get('profession')"
    ></autocomplete-box>
  </form-group>

  <form-group
    class="taxes"
    [label]="'forms.contract.taxes.label' | translate"
    [validators]="validators.taxes"
  >
    <text-box
      type="number"
      theme="filled"
      [control]="form.get('taxes')"
      [placeholder]="'forms.contract.taxes.placeholder' | translate"
    ></text-box>
  </form-group>

  <form-group
    class="hours-per-month"
    [label]="'forms.contract.workingHours.label' | translate"
    [validators]="validators.workingHours"
  >
    <text-box
      type="number"
      theme="filled"
      [placeholder]="'forms.contract.workingHours.placeholder' | translate"
      [control]="form.get('workingHours')"
    ></text-box>
  </form-group>
</stafr-form>
