<stafr-slider
  *ngIf="member$ | async as member"
  class="view-team-member-page"
  [caption]="'team.view.caption' | translate"
  [sub]="
    'team.view.sub'
      | translate: { date: member.createdAt | stafrDate: 'time-ago' }
  "
  [opened]="true"
  routeBack="../"
>
  <div class="member-header">
    <div class="member-meta">
      <h2 class="member-name">{{ member.fullName }}</h2>
      <span class="member-email">{{ member.user?.email }} </span>
      <stafr-status-box
        class="member-role"
        [status]="member.role"
      ></stafr-status-box>
    </div>
    <ng-container *ngIf="principal$ | async as principal">
      <div class="member-buttons" *ngIf="member.id !== principal.accountId">
        <stafr-button
          [text]="'team.view.edit-btn' | translate"
          icon="edit"
          type="secondary-outlined"
          [rounded]="true"
          routerLink="edit"
        ></stafr-button>
        <div class="misc-buttons">
          <stafr-button
            *ngIf="member.isBlocked; else notBlockedTpl"
            icon="unlock"
            iconSize="20"
            [title]="'team.view.unblock-btn' | translate"
            (clicked)="onUnBlock(member)"
          ></stafr-button>
          <ng-template #notBlockedTpl>
            <stafr-button
              icon="lock"
              iconSize="20"
              [title]="'team.view.block-btn' | translate"
              (clicked)="onBlock(member)"
            ></stafr-button>
          </ng-template>

          <stafr-button
            icon="delete"
            iconSize="20"
            [title]="'team.view.delete-btn' | translate"
            (clicked)="onDelete(member)"
          ></stafr-button>
        </div>
      </div>
    </ng-container>
  </div>
</stafr-slider>

<router-outlet></router-outlet>
