@use "src/assets/base" as *;

.view-team-member-page {
  .member-header {
    display: flex;
    justify-content: space-between;

    .member-meta {
      .member-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $secondary-light;
      }

      .member-email {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $gray-dark;
      }

      .member-role {
        margin-top: 10px;
        justify-content: flex-start;
      }
    }

    .member-buttons .misc-buttons {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      stafr-button .stafr-icon {
        color: $gray;
      }
    }
  }
}
