@use "src/assets/base" as *;

.contract-month-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.order-rate,
    &.candidate-rate,
    &.expenses {
      @include column(33.33333%);
    }

    &.hours-per-month,
    &.taxes {
      @include column(50%);
    }
  }
}
