<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="contract-month-form"
>
  <form-group
    class="order-rate"
    [label]="'forms.contract-month.orderRate.label' | translate"
    [validators]="validators.orderRate"
  >
    <rate-box theme="filled" [control]="form.get('orderRate')"></rate-box>
  </form-group>

  <form-group
    class="candidate-rate"
    [label]="'forms.contract-month.candidateRate.label' | translate"
    [validators]="validators.candidateRate"
  >
    <rate-box theme="filled" [control]="form.get('candidateRate')"></rate-box>
  </form-group>

  <form-group
    class="expenses"
    [label]="'forms.contract-month.expenses.label' | translate"
    [validators]="validators.expenses"
  >
    <rate-box theme="filled" [control]="form.get('expenses')"></rate-box>
  </form-group>

  <form-group
    class="taxes"
    [label]="'forms.contract-month.taxes.label' | translate"
    [validators]="validators.taxes"
  >
    <text-box
      type="number"
      theme="filled"
      [placeholder]="'forms.contract-month.taxes.placeholder' | translate"
      [control]="form.get('taxes')"
    ></text-box>
  </form-group>

  <form-group
    class="hours-per-month"
    [label]="'forms.contract-month.workingHours.label' | translate"
    [validators]="validators.workingHours"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="
        'forms.contract-month.workingHours.placeholder' | translate
      "
      [control]="form.get('workingHours')"
    ></text-box>
  </form-group>
</stafr-form>
