<input
  class="fake-input"
  [id]="name"
  (focus)="box.focus()"
  (blur)="box.blur()"
/>
<div
  #box
  clickable
  role="listbox"
  class="multi-select-box"
  [ngClass]="formStyle"
  (focus)="focused = true"
  (blur)="focused = false"
  (click)="onMenuToggle(box)"
>
  <ng-container *ngIf="selected$ | async as selected">
    <div
      class="multi-select-box-value"
      *ngIf="selected?.length; else placeholderTpl"
    >
      <span *ngFor="let item of selected" (click)="$event.stopPropagation()">
        {{ item | perforate: renderKey }}
        <stafr-button
          icon="close"
          iconSize="16"
          [disabled]="disabled"
          (clicked)="$event.stopPropagation(); onItemRemove(item)"
        ></stafr-button>
      </span>
    </div>
    <ng-template #placeholderTpl>
      <span class="placeholder">{{ placeholder }}</span>
    </ng-template>
  </ng-container>

  <stafr-icon icon="chevron-down" size="24"></stafr-icon>
</div>

<ng-template
  #overlay="overlay"
  overlay
  originX="left"
  originY="bottom"
  overlayX="left"
  overlayY="top"
  (closedOverlay)="opened = false"
>
  <ul
    [style.width.px]="box.clientWidth"
    [style.maxHeight.px]="box | multiSelectBoxHeight"
    class="multi-select-box-list"
  >
    <li
      *ngFor="let item of items | exclude: value:valueKey:''"
      (click)="onItemAdd(item)"
    >
      <span class="list-item">
        {{ item | perforate: renderKey }}
      </span>
    </li>
  </ul>
</ng-template>
