@use "src/assets/base" as *;
@use "../form-control.variables" as *;

multi-select-box {
  display: block;

  .fake-input {
    @extend %veiled;
  }

  .multi-select-box {
    @extend %input;
    @extend %form-state;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    min-height: $form-element-height;
    padding: 5px 48px 5px 20px;

    .placeholder {
      color: $form-placeholder-font-color;
      @include truncate;
      pointer-events: none;
    }

    .multi-select-box-value {
      cursor: default;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: -2.5px -5px;

      > span {
        display: flex;
        align-items: center;
        padding: 5px 10px 5px 16px;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #ffffff;
        background-color: $primary;
        border-radius: 6px;
        margin: 2.5px 5px;

        stafr-button {
          margin-left: 5px;

          .stafr-button {
            &:not(:disabled):hover,
            &:not(:disabled):focus {
              background-color: darken($primary, 5%);
              border-color: darken($primary, 5%);
            }

            &:not(:disabled):active {
              background-color: darken($primary, 10%);
              border-color: darken($primary, 10%);
            }

            stafr-icon {
              color: #ffffff;
            }
          }
        }
      }
    }

    > stafr-icon {
      @include absolute(12px, 12px);
      pointer-events: none;
    }
  }
}

.multi-select-box-list {
  @extend %select-box-container;

  li .list-item {
    display: block;
    line-height: 40px;
    font-size: $form-element-font-size;
    font-weight: $form-element-font-weight;
    color: $form-element-font-color;
    @include truncate;
  }
}
