@use "src/assets/base" as *;

.view-contract-page {
  .contract-header {
    display: flex;
    justify-content: space-between;

    .contract-meta {
      .contract-no {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $secondary-light;
      }

      .contract-profession {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $gray-dark;
      }

      .contract-status {
        margin-top: 10px;
        justify-content: flex-start;
      }
    }

    .contract-buttons {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      stafr-button {
        + stafr-button {
          margin-left: 10px;
        }

        .stafr-icon {
          color: $gray;
        }
      }
    }
  }

  .contract-client-candidate {
    margin-top: 30px;
    padding: 20px 30px;
    background-color: #fbfdff;
    display: flex;
    align-items: center;

    > div {
      width: 100%;
    }

    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $secondary;
    }

    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: $gray-dark;
    }
  }

  .contract-small-caption {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $secondary-light;
  }

  .contract-months {
    margin-top: 40px;

    .month-box {
      position: relative;
      margin-top: 15px;
      padding: 20px 30px;
      border: 1px solid $gray-white;
      border-radius: 12px;

      &:hover .edit-month-btn {
        opacity: 1;
      }

      .edit-month-btn {
        position: absolute;
        right: 8px;
        top: 8px;
        @include smoothTransition(opacity);
        opacity: 0;
      }

      li {
        display: flex;
        align-items: center;
        margin-top: 10px;

        span {
          font-size: 13px;
          line-height: 19px;
          color: $secondary-light;

          &:first-child {
            font-weight: 500;
          }

          &:last-child {
            font-weight: 400;
            margin-left: 3px;
          }
        }
      }
    }
  }
}
