<stafr-slider
  *ngIf="contract$ | async as contract"
  class="view-contract-page"
  [caption]="'contracts.view.caption' | translate"
  [sub]="
    'contracts.view.sub'
      | translate: { date: contract.updatedAt | stafrDate: 'time-ago' }
  "
  [opened]="true"
  routeBack="../"
>
  <div class="contract-header">
    <div class="contract-meta">
      <h2 class="contract-no">
        {{ "contracts.view.no" | translate: { number: contract.number } }}
      </h2>
      <span class="contract-profession">
        {{ contract.profession }}
      </span>
      <stafr-status-box
        class="contract-status"
        [status]="contract.status"
      ></stafr-status-box>
    </div>
    <div class="contract-buttons">
      <stafr-button
        *ngIf="contract.status === ContractStatus.Active"
        icon="stop"
        iconSize="20"
        [title]="'contracts.view.end-btn' | translate"
        (clicked)="onContractClose(contract)"
      ></stafr-button>
      <stafr-button
        *ngIf="contract.status === ContractStatus.Closed"
        icon="delete-forever"
        iconSize="20"
        [title]="'contracts.view.delete-btn' | translate"
        (clicked)="onContractDelete(contract)"
      ></stafr-button>
    </div>
  </div>

  <div class="contract-client-candidate">
    <div>
      <h4>{{ contract.client?.name }}</h4>
      <p>{{ contract.client?.company }}</p>
    </div>
    <div>
      <h4>{{ contract.candidate?.name }}</h4>
      <p>{{ contract.candidate?.profession }}</p>
    </div>
  </div>

  <div class="contract-months" *ngIf="contract.months?.length">
    <h4 class="contract-small-caption">
      {{ "contracts.view.months.caption" | translate }}
    </h4>
    <ul class="month-box" *ngFor="let month of contract.months">
      <stafr-button
        *ngIf="contract.status === ContractStatus.Active"
        class="edit-month-btn"
        icon="edit"
        iconSize="16"
        [title]="'contracts.view.months.edit-btn' | translate"
        routerLink="month/{{ month.number }}"
      ></stafr-button>
      <ng-container *ngIf="month | contractMonthInfo as monthInfo">
        <li>
          <span>{{ "contracts.view.months.date" | translate }} </span>
          <span>{{ month.date | stafrDate: "month-year" }} </span>
        </li>
        <li>
          <span>{{ "contracts.view.months.income" | translate }} </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate: monthInfo.monthIncome | stafrCurrency
                    }
            }}
          </span>
        </li>
        <li>
          <span>{{ "contracts.view.months.taxes" | translate }} </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate: monthInfo.monthTaxes | stafrCurrency
                    }
            }}
          </span>
        </li>
        <li>
          <span>{{ "contracts.view.months.expenses" | translate }} </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate: monthInfo.monthExpenses | stafrCurrency
                    }
            }}
          </span>
        </li>
        <li>
          <span>
            {{ "contracts.view.months.employee" | translate }}
          </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate: monthInfo.monthEmployee | stafrCurrency
                    }
            }}
          </span>
        </li>

        <li>
          <span>
            {{ "contracts.view.months.profit" | translate }}
          </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate: monthInfo?.monthProfit | stafrCurrency
                    }
            }}
          </span>
        </li>
        <li>
          <span>{{ "contracts.view.months.workingHours" | translate }} </span>
          <span>
            {{ "utils.hours" | translate: { hours: month.workingHours } }}
          </span>
        </li>
      </ng-container>
    </ul>
  </div>
</stafr-slider>

<router-outlet></router-outlet>
