<stafr-card>
  <stafr-table [source]="source$" (onRowClick)="onRowClick($event)">
    <stafr-button
      *tableAction
      [text]="'contracts.list.create-btn' | translate"
      icon="add"
      iconSize="24"
      type="white"
      routerLink="create"
      [rounded]="true"
    ></stafr-button>
    <div class="no-contracts" *tableEmpty>
      <img src="assets/illustrations/no-contracts.svg" alt="" />
      <h1>{{ "contracts.no-data.caption" | translate }}</h1>
      <p>{{ "contracts.no-data.message" | translate }}</p>
      <stafr-button
        icon="add"
        iconSize="24"
        type="secondary-outlined"
        routerLink="create"
        [text]="'contracts.no-data.create-btn' | translate"
        [rounded]="true"
      ></stafr-button>
    </div>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'contract.number';
          filterBy: 'contract.number';
          filterType: 'number'
        "
      >
        {{ "contracts.list.no" | translate }}
      </ng-container>
      <ng-container *tableCell="let row"> {{ row.number }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.name';
          filterBy: 'candidate.name';
          filterType: 'string'
        "
      >
        {{ "contracts.list.candidate" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-account-box
          [name]="row.candidate?.name"
          [size]="40"
          textWidth="100px"
        ></stafr-account-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'client.name';
          filterBy: 'client.name';
          filterType: 'string'
        "
      >
        {{ "contracts.list.client" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-account-box
          [name]="row.client?.name"
          [sub]="row.client?.company"
          [size]="40"
          textWidth="100px"
        ></stafr-account-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'contract.status';
          filterBy: 'contract.status';
          filterType: 'select';
          filterValue: [];
          filterItems: statuses$ | async;
          filterRenderKey: 'key';
          filterValueKey: 'value'
        "
      >
        {{ "contracts.list.status" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-status-box [status]="row.status"></stafr-status-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'contract.updatedAt';
          filterBy: 'contract.updatedAt';
          filterType: 'date'
        "
      >
        {{ "contracts.list.lastUpdate" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.updatedAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>

<router-outlet></router-outlet>
