$primary: #055ffc;
$primary-light: #cae0fd;

$white: #ffffff;
$white-1: #f5f9fd;
$white-2: #f2f7fc;

$secondary: #01002c;
$secondary-light: #313051;

$gray-dark: #656c7a;
$gray-light: #c2c5c8;
$gray-white: #e6e9ef;
$gray: #afb2b5;

$warn: #e85959;

$state-error: #ff6b6b;
$state-warning: #ffcd6b;
$state-success: #00e517;

$notification-error: #e85959;
$notification-success: #14a884;
$notification-warning: #faa11d;
$notification-info: #4a90e2;
