@use "colors" as *;

$state-normal-border: #e6e9ef;
$state-normal-background: transparent;

$state-hover-border: #cbdeff;
$state-hover-background: transparent;

$state-active-border: #6ba1ff;
$state-active-background: transparent;
$state-active-shadow: 0 0 8px #e4eeff;

$state-disabled-border: #e6e9ef;
$state-disabled-background: #f9f9fb;

$state-error-border: $state-error;
$state-error-background: transparent;
$state-error-shadow: 0 0 8px #ffe4e4;

$state-warning-border: $state-warning;
$state-warning-background: transparent;
$state-warning-shadow: 0 0 8px #fff9e4;

$state-success-border: $state-success;
$state-success-background: transparent;
$state-success-shadow: 0 0 8px #e5ffe4;

$form-element-height: 48px;
$form-element-radius: 6px;
$form-element-font-size: 14px;
$form-element-font-height: 20px;
$form-element-font-weight: 400;
$form-element-font-color: $secondary-light;

$form-placeholder-font-color: $gray-light;

$form-label-font-size: 13px;
$form-label-font-height: 16px;
$form-label-font-weight: 500;
$form-label-font-color: $secondary-light;
