@use "sass:math";
@use "colors" as *;

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  @include absolute($top, $right, $bottom, $left);
  position: fixed;
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin bgColorState($bg-color, $border-color: $bg-color) {
  background-color: $bg-color;
  border-color: $border-color;

  &:hover:not(:disabled) {
    background-color: darken($bg-color, 3%);
    border-color: darken($border-color, 3%);
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    background-color: darken($bg-color, 6%);
    border-color: darken($border-color, 6%);
  }

  &:disabled {
    opacity: 60%;
  }
}

@mixin smoothTransition($property) {
  transition-property: $property;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

@mixin colorState($color) {
  color: $color;

  &:hover {
    color: darken($color, 10%);
  }

  &:active,
  &:focus {
    color: darken($color, 20%);
  }
}

@mixin truncate($edge: false) {
  @if $edge {
    max-width: $edge;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin v-scrollbar($width: 2px, $margin: 0, $color: $gray-white) {
  &::-webkit-scrollbar {
    width: $width + $margin;
  }

  &::-webkit-scrollbar-thumb {
    border: math.div($margin, 2) solid transparent;
    background-clip: padding-box;
    border-radius: $margin;
    background-color: $color;
  }
}

@mixin h-scrollbar($height: 2px, $margin: 0, $color: $gray-white) {
  &::-webkit-scrollbar {
    height: $height + $margin;
  }

  &::-webkit-scrollbar-thumb {
    border: math.div($margin, 2) solid transparent;
    background-clip: padding-box;
    border-radius: $margin;
    background-color: $color;
  }
}

@mixin elevate($amount, $color: black) {
  box-shadow: 0 0 10px rgba($color, math.div($amount, 100));
}

@mixin column($width, $gap: 20px) {
  flex: 0 0 $width;
  max-width: $width;
  width: 100%;
  padding: 0 #{math.div($gap, 2)};
}
