@use "colors" as *;
@use "forms" as *;
@use "mixins" as *;

%veiled {
  opacity: 0;
  position: absolute;
  z-index: -1;
  width: 0;
}

%header-3 {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: $secondary;
  margin-bottom: 5px;
}

%paragraph {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: $gray-dark;
}

%form-state {
  box-shadow: none;
  @include smoothTransition(none);
  transition-property: background-color, border;

  &.outlined {
    border: 1px solid $state-normal-border;
    background-color: $state-normal-background;
  }

  &.filled {
    border: 1px solid #fafbff;
    background-color: #fafbff;
  }

  &.disabled {
    background-color: $state-disabled-background;
    border-color: $state-disabled-border;
    box-shadow: none;
    cursor: default;

    * {
      cursor: default;
    }
  }

  &:hover:not(.disabled):not(.checked) {
    background-color: $state-hover-background;
    border-color: $state-hover-border;
    box-shadow: none;
  }

  &:focus {
    outline: none;
  }

  &.focused:not(.disabled):not(.checked),
  &:active:not(.disabled):not(.checked) {
    background-color: $state-active-background;
    border-color: $state-active-border;
    box-shadow: $state-active-shadow;
  }

  &.error:not(.disabled):not(.checked) {
    background-color: $state-error-background;
    border-color: $state-error-border;
    box-shadow: $state-error-shadow;
  }

  &.warning:not(.disabled):not(.checked) {
    background-color: $state-warning-background;
    border-color: $state-warning-border;
    box-shadow: $state-warning-shadow;
  }

  &.success:not(.disabled):not(.checked) {
    background-color: $state-success-background;
    border-color: $state-success-border;
    box-shadow: $state-success-shadow;
  }
}

%input {
  width: 100%;
  padding: 0 20px;
  height: $form-element-height;
  border-radius: $form-element-radius;
  font-size: $form-element-font-size;
  line-height: $form-element-font-height;
  font-weight: $form-element-font-weight;
  color: $form-element-font-color;

  &::placeholder {
    color: $form-placeholder-font-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $form-placeholder-font-color;
  }

  &::-ms-input-placeholder {
    color: $form-placeholder-font-color;
  }
}

%button {
  font-family: inherit;
  cursor: pointer;
  @include smoothTransition(none);
  transition-property: color, background-color, border;
}

%overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

%card-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $gray-dark;
}

%card-table {
  width: 100%;
  border-spacing: 0;

  td,
  th {
    padding: 10px 0;
  }

  th {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: $secondary;
  }

  td {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: $gray-dark;
    border-top: 1px solid $gray-white;
  }
}

%no-data-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 50%;
    width: auto;
  }

  h1 {
    text-align: center;
    max-width: 540px;
    margin-top: 20px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: $secondary-light;
  }

  p {
    text-align: center;
    max-width: 540px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    font-weight: 400;
    color: $gray-dark;
  }

  stafr-button {
    margin-top: 40px;
  }
}
