<div class="account-menu">
  <ul>
    <li *rbac="[UserRole.Account]; accounts: []">
      <button type="button" (click)="onSwitchBusiness.emit()">
        <stafr-icon icon="switch-account" size="24"></stafr-icon>
        <span>{{ "header.account-menu.switch-business" | translate }}</span>
      </button>
    </li>
    <li *rbac="[UserRole.Account]; accounts: []">
      <button type="button" (click)="onAccountSettings.emit()">
        <stafr-icon icon="account-settings" size="24"></stafr-icon>
        <span>{{ "header.account-menu.account" | translate }}</span>
      </button>
    </li>
    <li *rbac="[UserRole.Account]; accounts: [AccountRole.Admin]">
      <button type="button" (click)="onBusinessSettings.emit()">
        <stafr-icon icon="business-settings" size="24"></stafr-icon>
        <span>{{ "header.account-menu.business" | translate }}</span>
      </button>
    </li>
    <li>
      <button type="button" (click)="onLogout.emit()">
        <stafr-icon icon="logout" size="24"></stafr-icon>
        <span>{{ "header.account-menu.logout" | translate }}</span>
      </button>
    </li>
  </ul>
</div>
