@use "src/assets/base/index" as *;

.account-menu {
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #f6f8fb;

  ul li {
    button {
      display: flex;
      align-items: center;
      width: 100%;
      height: 44px;
      background-color: transparent;
      padding: 0 10px;
      border-radius: 6px;
      @include smoothTransition(background-color);

      &:hover {
        background-color: #fcfcfc;
      }

      &:active,
      &:focus {
        background-color: #f6f8fa;
      }

      stafr-icon {
        color: $secondary-light;
      }

      span {
        display: block;
        margin-right: 15px;
        font-size: 13px;
        line-height: 18px;
        color: $secondary;
      }
    }
  }
}
