@use "src/assets/base" as *;
@use "../form-control.variables" as *;

rate-box {
  display: block;

  .fake-input {
    @extend %veiled;
  }

  .rate-box {
    @extend %input;
    @extend %form-state;
    display: flex;
    align-items: center;
    padding: 0;

    .amount-box {
      width: 100%;
      height: 100%;
      text-align: center;
      @extend %input;
      border: none;
      background-color: transparent;
    }

    .currency-box {
      flex-shrink: 0;
      width: 88px;
      height: 100%;
      border-left: 1px solid #ffffff;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 40px 0 16px;

      * {
        pointer-events: none;
      }

      .placeholder {
        color: $form-placeholder-font-color;
        @include truncate;
      }

      > stafr-icon {
        @include absolute(12px, 12px);
      }
    }
  }
}

.rate-box-list {
  @extend %select-box-container;

  li .list-item {
    display: block;
    line-height: 40px;
    font-size: $form-element-font-size;
    font-weight: $form-element-font-weight;
    color: $form-element-font-color;
    @include truncate;
  }
}
