<input
  class="fake-input"
  [id]="name"
  (focus)="box.focus()"
  (blur)="box.blur()"
/>

<div
  #box
  class="rate-box"
  [ngClass]="formStyle"
  tabindex="0"
  (focus)="focused = true"
  (blur)="focused = false"
>
  <ng-container *ngIf="(valueChanges | async) || true">
    <input
      class="amount-box"
      type="number"
      [readonly]="disabled"
      placeholder="0"
      [ngModel]="value?.amount"
      (ngModelChange)="onValueChange($event)"
      (focus)="focused = true"
      (blur)="focused = false"
    />
    <div
      #currencyBox
      clickable
      role="listbox"
      class="currency-box"
      (click)="onMenuToggle($any($event.target))"
    >
      <span class="currency-value" *ngIf="value?.currency; else placeholderTpl">
        {{ value.currency }}
      </span>
      <ng-template #placeholderTpl>
        <span class="placeholder">
          {{ "forms.placeholder.select" | translate }}
        </span>
      </ng-template>
      <stafr-icon icon="chevron-down" size="24"></stafr-icon>
    </div>
  </ng-container>
</div>

<ng-template
  #overlay="overlay"
  overlay
  originX="left"
  originY="bottom"
  overlayX="left"
  overlayY="top"
  (closedOverlay)="opened = false"
>
  <ul
    [style.width.px]="currencyBox?.nativeElement?.clientWidth"
    [style.maxHeight.px]="currencyBox?.nativeElement | rateBoxHeight"
    class="rate-box-list"
  >
    <li
      *ngFor="let currency of currencies"
      (click)="onCurrencySelect(currency)"
      tabindex="0"
    >
      <span class="list-item">
        {{ currency }}
      </span>
    </li>
  </ul>
</ng-template>
