@use "src/assets/base" as *;

.view-activities-page {
  .load-more-action {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: $primary;

    a {
      cursor: pointer;
    }
  }
}
