<stafr-slider
  class="view-activities-page"
  [caption]="'dashboard.activities-page.caption' | translate"
  [opened]="true"
  routeBack="../"
>
  <section-activities-view [activities]="activities"></section-activities-view>

  <div class="load-more-action" *ngIf="shouldLoadMore">
    <a (click)="pageChange$.next(pageChange$.value + 1)">
      {{ "dashboard.activities-page.loadMore" | translate }}
    </a>
  </div>
</stafr-slider>
