@use "src/assets/base" as *;
@use "../form-control.variables" as *;

select-box {
  display: block;

  .fake-input {
    @extend %veiled;
  }

  .select-box {
    @extend %input;
    @extend %form-state;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 48px;

    * {
      pointer-events: none;
    }

    .placeholder {
      color: $form-placeholder-font-color;
      @include truncate;
    }

    stafr-icon {
      @include absolute(12px, 12px);
    }
  }
}

.select-box-list {
  @extend %select-box-container;

  li {
    .select-box-rendered-item {
      display: block;
      line-height: 40px;
    }
  }
}

.select-box-rendered-item {
  font-size: $form-element-font-size;
  line-height: $form-element-font-height;
  font-weight: $form-element-font-weight;
  color: $form-element-font-color;
  @include truncate;
}
