<input
  class="fake-input"
  [id]="name"
  (focus)="box.focus()"
  (blur)="box.blur()"
/>
<div
  #box
  clickable
  role="listbox"
  class="select-box"
  [ngClass]="formStyle"
  (focus)="focused = true"
  (blur)="focused = false"
  (click)="onMenuToggle($any($event.target))"
>
  <ng-container *ngIf="selected$ | async as selected; else placeholderTpl">
    <ng-container
      [ngTemplateOutlet]="itemTpl"
      [ngTemplateOutletContext]="{ $implicit: selected }"
    ></ng-container>
  </ng-container>

  <ng-template #placeholderTpl>
    <span class="placeholder">{{ placeholder }}</span>
  </ng-template>

  <stafr-icon icon="chevron-down" size="24"></stafr-icon>
</div>

<ng-template
  #overlay="overlay"
  overlay
  originX="left"
  originY="bottom"
  overlayX="left"
  overlayY="top"
  (closedOverlay)="opened = false"
>
  <ul
    [style.width.px]="box.clientWidth"
    [style.maxHeight.px]="box | selectBoxHeight"
    class="select-box-list"
  >
    <li
      *ngFor="let item of items$ | async"
      [tabindex]="disabled ? -1 : 0"
      (click)="onItemSelect(item)"
    >
      <ng-container
        [ngTemplateOutlet]="itemTpl"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-container>
    </li>
  </ul>
</ng-template>

<ng-template #itemTpl let-item>
  <ng-container *ngIf="template?.template; else noTemplateTpl">
    <ng-container
      [ngTemplateOutlet]="template.template"
      [ngTemplateOutletContext]="{ $implicit: item }"
    ></ng-container>
  </ng-container>

  <ng-template #noTemplateTpl>
    <span class="select-box-rendered-item">{{
      item | perforate: renderKey
    }}</span>
  </ng-template>
</ng-template>
