<div
  class="table-string-filter"
  (keydown.enter)="onValueChange(inputElement.value); $event.preventDefault()"
>
  <stafr-icon icon="search" size="24"></stafr-icon>
  <input
    #inputElement
    type="text"
    [placeholder]="'filter.like.placeholder' | translate"
    [ngModel]="value"
  />
  <stafr-button
    class="close-btn"
    icon="close"
    (clicked)="onValueChange(''); $event.preventDefault()"
    iconSize="20"
  ></stafr-button>
</div>
