<stafr-dialog
  #dialog
  [caption]="'candidates.edit.caption' | translate"
  [opened]="true"
  minWidth="660px"
  maxWidth="660px"
  routeBack="../"
>
  <section-candidate-form
    #formComponent
    [form]="form$ | async"
    (submitted)="onSubmit($event)"
  ></section-candidate-form>
  <ng-container *dialogAction="'end'">
    <stafr-button
      type="primary"
      [text]="'candidates.edit.submit' | translate"
      (clicked)="formComponent.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>
