<ng-container [ngSwitch]="template$ | async">
  <ng-container *ngSwitchCase="'form'">
    <div class="forgot-password-page">
      <h3 class="title">
        {{ "auth.forgot-password.form.caption" | translate }}
      </h3>
      <p class="subtitle">
        {{ "auth.forgot-password.form.subtitle" | translate }}
      </p>

      <stafr-form #formComponent [form]="form" (submitted)="onSubmit($event)">
        <form-group
          [label]="'auth.forgot-password.form.email.label' | translate"
          [validators]="validators.email"
        >
          <text-box
            type="email"
            [control]="form.get('email')"
            [placeholder]="
              'auth.forgot-password.form.email.placeholder' | translate
            "
          ></text-box>
        </form-group>
      </stafr-form>

      <stafr-button
        type="primary"
        [fluid]="true"
        [text]="'auth.forgot-password.form.submit' | translate"
        (clicked)="formComponent.submit()"
      ></stafr-button>

      <p class="help-message">
        {{ "auth.forgot-password.form.help.label" | translate }}
        <a routerLink="/auth/login">
          {{ "auth.forgot-password.form.help.link" | translate }}
        </a>
      </p>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'success'">
    <div class="forgot-password-page">
      <h3 class="title">
        {{ "auth.forgot-password.success.caption" | translate }}
      </h3>
      <p class="subtitle">
        {{ "auth.forgot-password.success.subtitle" | translate }}
      </p>

      <img class="illustration" src="assets/illustrations/email.svg" />

      <p class="help-message">
        {{ "auth.forgot-password.success.help.label" | translate }}
        <a (click)="template$.next('form')">
          {{ "auth.forgot-password.success.help.link" | translate }}
        </a>
      </p>
    </div>
  </ng-container>
</ng-container>
