<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="account-settings"
>
  <form-group class="avatar" [validators]="validators.avatar">
    <image-box [control]="form.get('avatar')"></image-box>
  </form-group>

  <form-group
    class="fullName"
    [label]="'forms.account-settings.fullName.label' | translate"
    [validators]="validators.fullName"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.account-settings.fullName.placeholder' | translate"
      [control]="form.get('fullName')"
    ></text-box>
  </form-group>

  <form-group
    class="currency"
    [label]="'forms.account-settings.currency.label' | translate"
    [validators]="validators.currency"
  >
    <select-box
      theme="filled"
      [items]="currencies"
      [placeholder]="'forms.account-settings.currency.placeholder' | translate"
      [control]="form.get('currency')"
    ></select-box>
  </form-group>
</stafr-form>
