@use "src/assets/base" as *;

.account-settings form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.avatar {
      @include column(100%);
    }

    &.fullName {
      @include column(66.6666%);
    }

    &.currency {
      @include column(33.3333%);
    }
  }
}
