<stafr-slider
  *ngIf="user$ | async as user"
  class="view-user-page"
  [caption]="'user.view.caption' | translate"
  [sub]="
    'user.view.sub'
      | translate: { date: user.createdAt | stafrDate: 'time-ago' }
  "
  [opened]="true"
  routeBack="../"
>
  <div class="user-header">
    <div class="user-meta">
      <h2 class="user-email">{{ user.email }}</h2>
      <stafr-status-box
        class="user-role"
        [status]="user.role"
      ></stafr-status-box>
    </div>
    <div class="user-buttons">
      <stafr-button
        *ngIf="user.isBlocked; else notBlockedTpl"
        icon="unlock"
        iconSize="20"
        [title]="'user.view.unblock-btn' | translate"
        (clicked)="onUnBlock(user)"
      ></stafr-button>
      <ng-template #notBlockedTpl>
        <stafr-button
          icon="lock"
          iconSize="20"
          [title]="'user.view.block-btn' | translate"
          (clicked)="onBlock(user)"
        ></stafr-button>
      </ng-template>
    </div>
  </div>
</stafr-slider>
