@use "src/assets/base" as *;

.view-user-page {
  .user-header {
    display: flex;
    justify-content: space-between;

    .user-meta {
      .user-email {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $secondary-light;
      }

      .user-role {
        margin-top: 10px;
        justify-content: flex-start;
      }
    }

    .user-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      stafr-button .stafr-icon {
        color: $gray;
      }
    }
  }
}
