<stafr-card>
  <stafr-table [source]="source$" (onRowClick)="onRowClick($event)">
    <ng-container *rbac="[UserRole.Account]; accounts: [AccountRole.Admin]">
      <stafr-button
        *tableAction
        [text]="'team.list.view-btn' | translate"
        icon="eye"
        iconSize="24"
        type="white"
        routerLink="invitations"
        [rounded]="true"
      ></stafr-button>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'account.fullName';
          filterBy: 'account.fullName';
          filterType: 'string'
        "
      >
        {{ "team.list.name" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-account-box
          [name]="row.fullName"
          [image]="row.avatar"
          [size]="36"
          textWidth="200px"
        ></stafr-account-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'user.email';
          filterBy: 'user.email';
          filterType: 'string'
        "
      >
        {{ "team.list.email" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.user?.email }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'account.role';
          filterBy: 'account.role';
          filterType: 'select';
          filterValue: [];
          filterItems: roles$ | async;
          filterRenderKey: 'key';
          filterValueKey: 'value'
        "
      >
        {{ "team.list.role" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-status-box [status]="$any(row.role)"></stafr-status-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'account.isBlocked';
          filterBy: 'account.isBlocked';
          filterType: 'select';
          filterValue: [];
          filterItems: isBlockedItems$ | async;
          filterRenderKey: 'key';
          filterValueKey: 'value'
        "
      >
        {{ "team.list.blocked" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ "team.list.blocked.".concat(row.isBlocked) | translate }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'account.createdAt';
          filterBy: 'account.createdAt';
          filterType: 'date'
        "
      >
        {{ "team.list.createdAt" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.createdAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>

<router-outlet></router-outlet>
