<div
  class="table-select-filter"
  (keydown.enter)="onValueChange(); $event.preventDefault()"
>
  <stafr-icon icon="search" size="24"></stafr-icon>
  <input
    type="text"
    [placeholder]="'filter.like.placeholder' | translate"
    [ngModel]="''"
    (ngModelChange)="term$.next($event)"
  />
  <stafr-button
    class="close-btn"
    icon="close"
    (clicked)="value = []; onValueChange(); $event.preventDefault()"
    iconSize="20"
  ></stafr-button>
</div>

<ul class="table-select-filter-list">
  <li *ngFor="let item of searched$ | async; let idx = index">
    <button
      type="button"
      [class.selected]="!!value?.find(findFn(item))"
      (click)="onCheckboxChange(item, !value?.find(findFn(item)))"
    >
      <span> {{ item | perforate: renderKey }}</span>
      <stafr-icon icon="done"></stafr-icon>
    </button>
  </li>
</ul>
