@use "src/assets/base" as *;
@use "../filter.variables" as *;

table-select-filter {
  .table-select-filter {
    @extend %default-filter;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px 16px 0 0;
  }

  .table-select-filter-list {
    padding: 5px 0;
    height: 180px;
    overflow: auto;
    @include v-scrollbar;

    li {
      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 28px 0 24px;
        font-size: 15px;
        line-height: 18px;
        text-align: left;
        height: 32px;
        width: 100%;

        stafr-icon {
          opacity: 0;
          @include smoothTransition(opacity);

          .stafr-icon {
            color: $primary;
          }
        }

        &:hover {
          background-color: #fcfcfc;
        }

        &:active,
        &:focus {
          background-color: #f6f8fa;
        }

        &.selected stafr-icon {
          opacity: 1;
        }
      }
    }
  }
}
