<ng-container
  *rbac="[UserRole.Account]; accounts: [AccountRole.Admin, AccountRole.Manager]"
>
  <div class="stafr-dashboard" *ngIf="business$ | async as business">
    <stafr-card class="dashboard-overview">
      <dashboard-business-overview
        [candidatesAmount]="business.candidatesAmount"
        [ordersAmount]="business.ordersAmount"
        [contractsAmount]="business.contractsAmount"
        [contracts]="business.contracts"
      ></dashboard-business-overview>
    </stafr-card>
    <div class="dashboard-group">
      <stafr-card class="dashboard-chart">
        <dashboard-business-chart
          [contracts]="business.contracts"
        ></dashboard-business-chart>
      </stafr-card>
      <stafr-card class="dashboard-table">
        <dashboard-business-contracts
          [contracts]="business.contracts.filter(activeFilter)"
        ></dashboard-business-contracts>
      </stafr-card>
    </div>
    <stafr-card class="dashboard-activity">
      <dashboard-activities
        [activities]="business.activities"
      ></dashboard-activities>
    </stafr-card>
  </div>
</ng-container>

<ng-container *rbac="[UserRole.Account]; accounts: [AccountRole.HR]">
  <div class="stafr-dashboard" *ngIf="hr$ | async as hr">
    <div class="dashboard-group">
      <stafr-card class="dashboard-chart">
        <dashboard-hr-chart
          [candidates]="hr.candidates"
          [candidatesAmount]="hr.candidatesAmount"
        ></dashboard-hr-chart>
      </stafr-card>
      <stafr-card class="dashboard-table">
        <dashboard-hr-orders [orders]="hr.orders"></dashboard-hr-orders>
      </stafr-card>
    </div>
    <stafr-card class="dashboard-activity">
      <dashboard-activities [activities]="hr.activities"></dashboard-activities>
    </stafr-card>
  </div>
</ng-container>

<ng-container *rbac="[UserRole.Admin]; accounts: []">
  <div class="stafr-dashboard" *ngIf="system$ | async as system">
    <stafr-card class="dashboard-overview">
      <dashboard-system-overview
        [businessAmount]="system.businessesAmount"
        [usersAmount]="system.usersAmount"
        [accountsAmount]="system.accountsAmount"
        [candidatesAmount]="system.candidatesAmount"
      ></dashboard-system-overview>
    </stafr-card>
    <div class="dashboard-group">
      <stafr-card class="dashboard-chart">
        <dashboard-system-chart [users]="system.users"></dashboard-system-chart>
      </stafr-card>
      <stafr-card class="dashboard-table">
        <dashboard-system-businesses
          [businesses]="system.businesses"
        ></dashboard-system-businesses>
      </stafr-card>
    </div>
    <stafr-card class="dashboard-activity">
      <dashboard-activities
        [activities]="system.activities"
      ></dashboard-activities>
    </stafr-card>
  </div>
</ng-container>

<router-outlet></router-outlet>
