@use "sass:math";

$gap: 30px;

stafr-dashboard {
  .stafr-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: $gap;
    row-gap: $gap;

    .dashboard-overview {
      width: 100%;
      height: 144px;
    }

    .dashboard-chart,
    .dashboard-table,
    .dashboard-group {
      height: 340px;
      width: calc(62% - #{math.div($gap, 2)});
    }

    .dashboard-activity {
      height: 340px;
      width: calc(38% - #{math.div($gap, 2)});
    }

    .dashboard-group {
      display: flex;
      flex-wrap: wrap;
      column-gap: $gap;
      row-gap: $gap;
      height: 100%;

      .dashboard-chart {
        width: 100%;
      }

      .dashboard-table {
        width: 100%;
      }

      + .dashboard-activity {
        height: 710px;
      }
    }
  }
}
