<div class="stafr-avatar" [style.width.px]="size" [style.height.px]="size">
  <div
    *ngIf="image?.length; else initials"
    class="image-box"
    [style.backgroundImage]="'url(' + image + ')'"
  ></div>

  <ng-template #initials>
    <div
      class="initials-box"
      [style.fontSize.px]="size / 2.7"
      *ngIf="name?.split(' ') as fullName"
    >
      <ng-container *ngIf="fullName[0] as firstName">{{
        firstName.charAt(0)
      }}</ng-container>
      <ng-container *ngIf="fullName[1] as lastName">{{
        lastName.charAt(0)
      }}</ng-container>
    </div>
  </ng-template>
</div>
