@use "src/assets/base" as *;

stafr-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stafr-avatar {
  border-radius: 50%;

  .image-box,
  .initials-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .image-box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .initials-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eef6fd;
    color: $secondary-light;
    font-weight: 600;
  }
}
