@use "src/assets/base" as *;

.view-order-page {
  .order-header {
    display: flex;
    justify-content: space-between;

    .order-meta {
      .order-profession {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $secondary-light;
      }

      .order-status {
        margin-top: 10px;
        justify-content: flex-start;
      }
    }

    .order-buttons .misc-buttons {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      stafr-button .stafr-icon {
        color: $gray;
      }
    }
  }

  .order-rate {
    margin-top: 30px;
    padding: 24px;
    background-color: #fbfdff;

    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
    }
  }

  .order-small-caption {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $secondary-light;
  }

  .order-experience {
    margin-top: 25px;
  }

  .order-skills {
    margin-top: 25px;

    ul li {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: $secondary-light;
      }
    }
  }

  .order-contracts {
    margin-top: 40px;

    .contract-box {
      margin-top: 15px;
      padding: 20px 30px;
      border: 1px solid $gray-white;
      border-radius: 12px;

      .contract-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: $secondary-light;
        }
      }

      .contract-box-info {
        li {
          display: flex;
          align-items: center;
          margin-top: 10px;

          span {
            font-size: 13px;
            line-height: 19px;
            color: $secondary-light;

            &:first-child {
              font-weight: 500;
            }

            &:last-child {
              font-weight: 400;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }

  .order-attachments {
    margin-top: 40px;

    .attachment-box {
      margin-top: 15px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
      }

      a {
        margin-left: 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: $secondary-light;
      }

      stafr-button {
        margin-left: auto;

        .stafr-icon {
          color: $gray-dark;
        }
      }
    }
  }
}
