<stafr-slider
  *ngIf="order$ | async as order"
  class="view-order-page"
  [caption]="'orders.view.caption' | translate"
  [sub]="
    'orders.view.sub'
      | translate: { date: order.updatedAt | stafrDate: 'time-ago' }
  "
  [opened]="true"
  routeBack="../"
>
  <div class="order-header">
    <div class="order-meta">
      <h2 class="order-profession">{{ order.profession }}</h2>
      <stafr-status-box
        class="order-status"
        [status]="order.status"
      ></stafr-status-box>
    </div>
    <ng-container *ngIf="order.status !== OrderStatus.Done">
      <div
        class="order-buttons"
        *rbac="
          [UserRole.Account];
          accounts: [AccountRole.Admin, AccountRole.Manager]
        "
      >
        <stafr-button
          [text]="'orders.view.edit-btn' | translate"
          icon="edit"
          type="secondary-outlined"
          [rounded]="true"
          routerLink="edit"
        ></stafr-button>
        <div class="misc-buttons">
          <stafr-button
            icon="delete-forever"
            iconSize="20"
            [title]="'order.view.delete-btn' | translate"
            (clicked)="onOrderDelete(order)"
          ></stafr-button>
        </div>
      </div>
    </ng-container>
  </div>

  <div
    class="order-rate"
    *rbac="
      [UserRole.Account];
      accounts: [AccountRole.Admin, AccountRole.Manager]
    "
  >
    <h2 [style.color]="colors[order.status]">
      {{
        "utils.hourlyRate"
          | translate
            : {
                rate: order.rateAmount | stafrCurrency: false:order.rateCurrency
              }
      }}
    </h2>
  </div>

  <div class="order-experience">
    <h4 class="order-small-caption">
      {{ "orders.view.experience.caption" | translate }}
      {{ order.experience | stafrTime }}
    </h4>
  </div>

  <div class="order-skills" *ngIf="order.skills?.length">
    <h4 class="order-small-caption">
      {{ "orders.view.skills.caption" | translate }}
    </h4>
    <ul>
      <li *ngFor="let skill of order.skills">
        <span>{{ skill }}</span>
      </li>
    </ul>
  </div>

  <div class="order-contracts" *ngIf="order.contracts?.length">
    <h4 class="order-small-caption">
      {{ "orders.view.contracts.caption" | translate }}
    </h4>
    <div class="contract-box" *ngFor="let contract of order.contracts">
      <div class="contract-box-header">
        <h4>#{{ contract.number }}</h4>
        <stafr-status-box [status]="contract.status"></stafr-status-box>
      </div>
      <ul class="contract-box-info">
        <li>
          <span>{{ "orders.view.contracts.profession" | translate }}</span>
          <span>{{ contract.profession }}</span>
        </li>
        <li>
          <span>{{ "orders.view.contracts.income" | translate }} </span>
          <span>
            {{
              "utils.monthlyRate"
                | translate
                  : {
                      rate:
                        (contract | contractInfo)?.monthIncome | stafrCurrency
                    }
            }}
          </span>
        </li>
        <li>
          <span>{{ "orders.view.contracts.company" | translate }} </span>
          <span>{{ contract.client?.company }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="order-attachments" *ngIf="order.attachments.length">
    <h4 class="order-small-caption">
      {{ "orders.view.attachments.caption" | translate }}
    </h4>
    <ng-container *ngFor="let attachment of order.attachments">
      <div class="attachment-box">
        <img
          src="assets/icons/file-{{ attachment.originalName | extension }}.svg"
          aria-hidden="true"
        />
        <a>{{ attachment.originalName }}</a>
        <stafr-button
          icon="download"
          iconSize="24"
          (clicked)="onAttachmentDownload(order, attachment)"
        ></stafr-button>
      </div>
    </ng-container>
  </div>
</stafr-slider>

<router-outlet></router-outlet>
