@use "src/assets/base" as *;

.order-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.profession {
      @include column(60%);
    }

    &.client {
      @include column(40%);
    }

    &.rate {
      @include column(30%);
    }

    &.experience {
      @include column(30%);
    }

    &.skill {
      @include column(40%);
    }

    &.attachments {
      @include column(100%);
    }
  }

  .skill .form-group-content {
    display: flex;
    align-items: center;

    autocomplete-box {
      width: 100%;
    }

    stafr-button {
      margin-left: 15px;
    }
  }

  .skill-list {
    @include column(100%);
    margin-bottom: 20px;

    li {
      display: flex;
      align-items: center;

      + li {
        margin-top: 10px;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $secondary-light;
      }

      stafr-button {
        margin-left: auto;

        .stafr-icon {
          color: $gray-dark;
        }
      }
    }
  }

  .attachments {
    margin-bottom: 20px;
  }
}
