<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="order-form"
>
  <form-group
    class="profession"
    [label]="'forms.order.profession.label' | translate"
    [validators]="validators.profession"
  >
    <autocomplete-box
      theme="filled"
      [items]="professions$ | async"
      [placeholder]="'forms.order.profession.placeholder' | translate"
      [control]="form.get('profession')"
    >
    </autocomplete-box>
  </form-group>

  <form-group
    class="client"
    [label]="'forms.order.client.label' | translate"
    [validators]="validators.clientNo"
  >
    <select-box
      theme="filled"
      valueKey="number"
      renderKey="name"
      [items]="clients$ | async"
      [placeholder]="'forms.order.client.placeholder' | translate"
      [control]="form.get('clientNo')"
    ></select-box>
  </form-group>

  <form-group
    class="rate"
    [label]="'forms.order.rate.label' | translate"
    [validators]="validators.rate"
  >
    <rate-box theme="filled" [control]="form.get('rate')"></rate-box>
  </form-group>

  <form-group
    class="experience"
    [label]="'forms.order.experience.label' | translate"
    [validators]="validators.experience"
  >
    <time-box
      theme="filled"
      [placeholder]="'forms.order.experience.placeholder' | translate"
      [control]="form.get('experience')"
    ></time-box>
  </form-group>

  <form-group
    class="skill"
    [label]="'forms.order.skills.label' | translate"
    [validators]="validators.skill"
  >
    <div class="form-group-content">
      <autocomplete-box
        theme="filled"
        [items]="skills$ | async | exclude: formValue?.skills:'':''"
        [placeholder]="'forms.order.skills.placeholder' | translate"
        [control]="form.get('skill')"
      >
      </autocomplete-box>
      <stafr-button
        icon="add"
        iconSize="24"
        (clicked)="onSkillAdd()"
      ></stafr-button>
    </div>
  </form-group>

  <ul class="skill-list" *ngIf="formValue?.skills">
    <li *ngFor="let skill of formValue.skills; let idx = index">
      <span>{{ skill }}</span>
      <stafr-button
        icon="delete"
        iconSize="20"
        (clicked)="onSkillRemove(idx)"
      ></stafr-button>
    </li>
  </ul>

  <form-group
    class="attachments"
    [label]="'forms.order.attachments.label' | translate"
    [validators]="validators.attachments"
  >
    <file-upload-box
      [maxAmount]="10"
      [maxSize]="10"
      [format]="format"
      [control]="form.get('attachments')"
      attachmentRenderKey="originalName"
    ></file-upload-box>
  </form-group>
</stafr-form>
