@use "src/assets/base" as *;
@use "../form-control.variables" as *;

autocomplete-box {
  display: block;

  input {
    @extend %input;
    @extend %form-state;
  }
}

.autocomplete-box-list {
  @extend %select-box-container;

  li span {
    display: block;
    line-height: 40px;
    font-size: $form-element-font-size;
    font-weight: $form-element-font-weight;
    color: $form-element-font-color;
    @include truncate;
  }
}
