<div #box class="autocomplete-box">
  <input
    *ngIf="(valueChanges | async) || true"
    [ngClass]="formStyle"
    [id]="name"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (ngModelChange)="onSearch$.next($event)"
    (click)="openMenu($any($event.target))"
    (focus)="focused = true"
    (blur)="focused = false"
  />
</div>

<ng-template
  #overlay="overlay"
  overlay
  originX="left"
  originY="bottom"
  overlayX="left"
  overlayY="top"
>
  <ng-container *ngIf="searched$ | async as searched">
    <ul
      *ngIf="searched.length"
      [style.width.px]="box.clientWidth"
      [style.maxHeight.px]="box | autocompleteBoxHeight"
      class="autocomplete-box-list"
    >
      <li *ngFor="let item of searched" (click)="onItemSelect(item)">
        <span>{{ item }}</span>
      </li>
    </ul>
  </ng-container>
</ng-template>
