@use "src/assets/base" as *;

.stafr-slider {
  @include fixed(0, 0, 0, 0);
  z-index: 10000;

  .slider-overlay {
    @extend %overlay;
  }

  .panel-container {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 100%;
    transition: all 1s ease-in-out;
    background: #ffffff;
    box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px 0px 0px 10px;

    header {
      height: $header-height;
      position: relative;
      padding: 25px 75px 7px 75px;

      h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $gray-dark;
      }

      small {
        margin-top: 3px;
        display: block;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        color: $gray;
      }

      stafr-button {
        @include absolute(19px, 24px);

        .stafr-button .stafr-icon {
          color: $gray;
        }
      }
    }

    section {
      height: calc(100% - #{$header-height});
      overflow-x: hidden;
      overflow-y: auto;
      padding: 20px 50px;
      @include v-scrollbar;
    }
  }
}
