<div class="stafr-slider" *ngIf="opened" [@wrapper]>
  <div class="slider-overlay" (click)="close()"></div>
  <div
    class="panel-container"
    [style.width]="width"
    [@slide]
    (@slide.done)="!opened && onClose()"
  >
    <header>
      <h2>{{ caption }}</h2>
      <small *ngIf="sub">{{ sub }}</small>
      <stafr-button icon="close" iconSize="20" (click)="close()"></stafr-button>
    </header>
    <section>
      <ng-content></ng-content>
    </section>
  </div>
</div>
