<ng-container *ngIf="form$ | async as form">
  <div class="reset-password-page">
    <h3 class="title">
      {{ "auth.reset-password.caption" | translate }}
    </h3>
    <p class="subtitle">
      {{ "auth.reset-password.subtitle" | translate }}
    </p>

    <stafr-form #formComponent [form]="form" (submitted)="onSubmit($event)">
      <form-group
        [label]="'auth.reset-password.email.label' | translate"
        [validators]="validators.email"
      >
        <text-box
          type="email"
          [control]="form.get('email')"
          [disabled]="true"
        ></text-box>
      </form-group>
      <form-group
        [label]="'auth.reset-password.password.label' | translate"
        [validators]="validators.password"
      >
        <text-box
          type="password"
          [control]="form.get('password')"
          [placeholder]="'auth.reset-password.password.placeholder' | translate"
        ></text-box>
      </form-group>
    </stafr-form>

    <stafr-button
      type="primary"
      [fluid]="true"
      [text]="'auth.reset-password.submit' | translate"
      (clicked)="formComponent.submit()"
    ></stafr-button>

    <p class="help-message">
      {{ "auth.reset-password.help.label" | translate }}
      <a routerLink="/auth/login">
        {{ "auth.reset-password.help.link" | translate }}
      </a>
    </p>
  </div>
</ng-container>
