<ng-container *ngIf="contracts?.length; else empty">
  <div class="dashboard-business-contracts-header">
    <h4>{{ "dashboard.business-contracts.caption" | translate }}</h4>
  </div>

  <div class="dashboard-business-contracts-table">
    <table>
      <tr>
        <th>
          {{ "dashboard.business-contracts.no" | translate }}
        </th>
        <th>
          {{ "dashboard.business-contracts.client" | translate }}
        </th>
        <th>
          {{ "dashboard.business-contracts.company" | translate }}
        </th>
        <th>
          {{ "dashboard.business-contracts.profession" | translate }}
        </th>
        <th>
          {{ "dashboard.business-contracts.income" | translate }}
        </th>
      </tr>
      <tr *ngFor="let contract of contracts">
        <td>{{ contract.number }}</td>
        <td>{{ contract.client?.name }}</td>
        <td>{{ contract.client?.company }}</td>
        <td>{{ contract.profession }}</td>
        <td>
          {{
            "utils.hourlyRate"
              | translate
                : {
                    rate:
                      (contract | contractInfo)?.hourlyIncome | stafrCurrency
                  }
          }}
        </td>
      </tr>
    </table>
  </div>
</ng-container>

<ng-template #empty>
  <div class="dashboard-business-contracts-header">
    <h4>{{ "dashboard.business-contracts.no-contracts" | translate }}</h4>
  </div>
  <figure class="dashboard-business-contracts-empty">
    <img src="assets/illustrations/document.svg" alt="" />
  </figure>
</ng-template>
