<div class="system-overview">
  <div class="overview-item">
    <stafr-icon icon="business-orange" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.system-overview.businesses" | translate }}
      </span>
      <h4 class="item-value">{{ businessAmount }}</h4>
    </div>
  </div>
  <span class="overview-line"></span>
  <div class="overview-item">
    <stafr-icon icon="people-green" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.system-overview.users" | translate }}
      </span>
      <h4 class="item-value">{{ usersAmount }}</h4>
    </div>
  </div>
  <span class="overview-line"></span>
  <div class="overview-item">
    <stafr-icon icon="orders-blue" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.system-overview.accounts" | translate }}
      </span>
      <h4 class="item-value">{{ accountsAmount }}</h4>
    </div>
  </div>
  <span class="overview-line"></span>
  <div class="overview-item">
    <stafr-icon icon="hearth-red" [size]="30"></stafr-icon>
    <div class="item-details">
      <span class="item-name">
        {{ "dashboard.system-overview.candidates" | translate }}
      </span>
      <h4 class="item-value">{{ candidatesAmount }}</h4>
    </div>
  </div>
</div>
