<stafr-dialog
  #dialog
  [caption]="'team.invitations-create.caption' | translate"
  [opened]="true"
  minWidth="660px"
  maxWidth="660px"
  routeBack="../"
>
  <section-invite-form
    #formComponent
    [form]="form"
    (submitted)="onSubmit($event)"
  ></section-invite-form>
  <ng-container *dialogAction="'end'">
    <stafr-button
      type="primary"
      [text]="'team.invitations-create.submit' | translate"
      (clicked)="formComponent.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>
