@use "src/assets/base" as *;
@use "../table.variables" as *;

.stafr-pagination {
  display: flex;
  align-items: center;

  .pagination-prev {
    margin-right: 20px;

    stafr-icon {
      transform: rotate(180deg);
    }
  }

  .pagination-next {
    margin-left: 20px;
  }

  .pagination-next,
  .pagination-prev {
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      stafr-icon {
        color: $secondary-light;
      }
    }

    stafr-icon {
      color: $gray;
    }
  }

  .pagination-item {
    color: $secondary;

    + .pagination-item {
      margin-left: 5px;
    }
  }

  .pagination-next,
  .pagination-prev,
  .pagination-item {
    @extend %table-button;
  }
}
