<div class="stafr-pagination">
  <button
    type="button"
    class="pagination-prev"
    [disabled]="current === 1"
    (click)="onPaginationChange.emit(current - 1)"
  >
    <stafr-icon icon="chevron-right"></stafr-icon>
  </button>

  <button
    type="button"
    class="pagination-item"
    *ngFor="let item of items"
    [class.active]="current === item"
    [disabled]="current === item"
    (click)="onPaginationChange.emit(item)"
  >
    {{ item }}
  </button>
  <button
    type="button"
    class="pagination-next"
    [disabled]="current === totalItems"
    (click)="onPaginationChange.emit(current + 1)"
  >
    <stafr-icon icon="chevron-right"></stafr-icon>
  </button>
</div>
