<div
  *ngFor="let toast of toasts"
  #toastElement
  [@toastTransition]="{
    value: '*',
    params: { toastHeight: toastElement.clientHeight + gap }
  }"
  [style.marginBottom.px]="gap"
  class="toast-item"
>
  <div class="toast-header">
    <stafr-icon
      class="toast-icon"
      [ngClass]="toast.type"
      [icon]="toast.type"
      size="32"
    ></stafr-icon>
    <h4 class="toast-caption">{{ toast.caption }}</h4>
    <stafr-button
      class="toast-close"
      icon="close"
      (clicked)="removeToast(toast.id)"
      iconSize="20"
    ></stafr-button>
  </div>
  <div class="toast-messages">
    <p *ngFor="let message of toast.messages">{{ message }}</p>
  </div>
</div>
