@use "src/assets/base" as *;

stafr-toast {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 10002;

  .toast-item {
    width: 450px;
    padding: 16px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 14px 0 30px rgba(0, 0, 0, 0.1);

    .toast-header {
      display: flex;
      align-items: center;

      .toast-icon {
        &.success {
          color: $notification-success;
        }

        &.error {
          color: $notification-error;
        }

        &.warning {
          color: $notification-warning;
        }

        &.info {
          color: $notification-info;
        }
      }

      .toast-caption {
        color: $secondary;
        margin: 0 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        word-break: break-word;
      }

      .toast-close {
        margin-left: auto;
      }
    }

    .toast-messages {
      margin: 0 42px;

      p {
        color: $secondary-light;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        word-break: break-word;

        + p {
          margin-top: 5px;
        }
      }
    }
  }
}
