<stafr-card>
  <stafr-table [source]="source$" (onRowClick)="onRowClick($event)">
    <ng-container
      *rbac="
        [UserRole.Account];
        accounts: [AccountRole.Admin, AccountRole.Manager]
      "
    >
      <stafr-button
        *tableAction
        [text]="'orders.list.create-btn' | translate"
        icon="add"
        iconSize="24"
        type="white"
        routerLink="create"
        [rounded]="true"
      ></stafr-button>
    </ng-container>
    <div class="no-orders" *tableEmpty>
      <img src="assets/illustrations/no-orders.svg" alt="" />
      <h1>{{ "orders.no-data.caption" | translate }}</h1>
      <p>{{ "orders.no-data.message" | translate }}</p>
      <stafr-button
        icon="add"
        iconSize="24"
        type="secondary-outlined"
        routerLink="create"
        [text]="'orders.no-data.create-btn' | translate"
        [rounded]="true"
      ></stafr-button>
    </div>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'order.number';
          filterBy: 'order.number';
          filterType: 'number'
        "
        >{{ "orders.list.no" | translate }}</ng-container
      >
      <ng-container *tableCell="let row">{{ row.number }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'order.profession';
          filterBy: 'order.profession';
          filterType: 'string'
        "
      >
        {{ "orders.list.profession" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.profession }}
      </ng-container>
    </ng-container>
    <ng-container
      tableColumn
      *rbac="
        [UserRole.Account];
        accounts: [AccountRole.Admin, AccountRole.Manager]
      "
    >
      <ng-container
        *tableHead="
          '';
          sortBy: 'order.rateAmount';
          filterBy: 'order.rateAmount';
          filterType: 'number'
        "
      >
        {{ "orders.list.rate" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.rateAmount | stafrCurrency: false:row.rateCurrency }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'order.experience';
          filterBy: 'order.experience';
          filterType: 'time'
        "
      >
        {{ "orders.list.experience" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ (row.experience | stafrTime) || "-" }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'client.name';
          filterBy: 'client.name';
          filterType: 'string'
        "
      >
        {{ "orders.list.client" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-account-box
          [name]="row.client?.name"
          [sub]="row.client?.company"
          [size]="40"
          textWidth="100px"
        ></stafr-account-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'order.status';
          filterBy: 'order.status';
          filterType: 'select';
          filterValue: [];
          filterItems: statuses$ | async;
          filterRenderKey: 'key';
          filterValueKey: 'value'
        "
      >
        {{ "orders.list.status" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-status-box [status]="row.status"></stafr-status-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'order.createdAt';
          filterBy: 'order.createdAt';
          filterType: 'date'
        "
      >
        {{ "orders.list.createdAt" | translate }}
      </ng-container>
      <ng-container *tableCell="let row"
        >{{ row.createdAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>

<router-outlet></router-outlet>
