@use "src/assets/base/colors" as *;

.alert-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.stafr-alert {
  background-color: white;
  padding: 25px;
  border-radius: 8px;

  h2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: $secondary-light;
  }

  p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $gray-dark;
  }

  .alert-buttons {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    stafr-button + stafr-button {
      margin-left: 10px;
    }
  }
}
