<ng-template
  overlay
  #overlay="overlay"
  overlayClass="alert-overlay"
  [overlayClose]="true"
  (closedOverlay)="alert && alert.closed()"
>
  <div class="stafr-alert" *ngIf="alert">
    <h2>{{ alert.caption }}</h2>
    <p>{{ alert.message }}</p>
    <div class="alert-buttons">
      <stafr-button
        *ngFor="let button of alert.buttons"
        [text]="button.text"
        [icon]="button.icon"
        [type]="button.type"
        [iconSize]="24"
        (clicked)="button.clicked()"
        size="small"
      ></stafr-button>
    </div>
  </div>
</ng-template>
