@use "src/assets/base" as *;
@use "sass:math";

.candidate-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.name,
    &.skill {
      @include column(57%);
    }

    &.assignee,
    &.experience {
      @include column(43%);
    }

    &.profession {
      @include column(65%);
    }

    &.status,
    &.country,
    &.contact {
      @include column(33%);
    }

    &.rate {
      @include column(35%);
    }

    &.attachments {
      @include column(100%);
    }
  }

  .skill .form-group-content {
    display: flex;
    align-items: center;
    width: 100%;

    autocomplete-box {
      width: 100%;
    }

    stafr-button {
      margin-left: 15px;
    }
  }

  .skill-list {
    @include column(100%);
    margin-bottom: 20px;

    li {
      display: flex;
      align-items: center;

      + li {
        margin-top: 10px;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: $secondary-light;
      }

      stafr-button {
        margin-left: auto;

        .stafr-icon {
          color: $gray-dark;
        }
      }
    }
  }

  .attachments {
    margin-bottom: 20px;
  }
}

.select-box-assignee-name,
.select-box-status-name {
  margin-left: 8px;
  font-size: $form-element-font-size;
  font-weight: $form-element-font-weight;
  color: $form-element-font-color;
  line-height: 48px;
  @include truncate;
}

.select-box-status-bullet {
  @include circle(10px);
}
