<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="candidate-form"
>
  <form-group
    #fgName
    class="name"
    [label]="'forms.candidate.name.label' | translate"
    [validators]="validators.name"
  >
    <text-box
      type="text"
      theme="filled"
      [control]="form.get('name')"
      [placeholder]="'forms.candidate.name.placeholder' | translate"
      (valueChanged)="
        onCheckExist.next({
          key: 'name',
          group: fgName,
          message: 'forms.candidate.name.exists'
        })
      "
    ></text-box>
  </form-group>

  <form-group
    class="assignee"
    [label]="'forms.candidate.assignee.label' | translate"
    [validators]="validators.assigneeId"
  >
    <select-box
      theme="filled"
      valueKey="id"
      [items]="assignees$ | async"
      [placeholder]="'forms.candidate.assignee.placeholder' | translate"
      [control]="form.get('assigneeId')"
    >
      <ng-container *selectBoxTemplate="let item">
        <stafr-avatar
          [name]="item.fullName"
          [image]="item.avatar"
          size="30"
        ></stafr-avatar>
        <span class="select-box-assignee-name">{{ item.fullName }}</span>
      </ng-container>
    </select-box>
  </form-group>

  <form-group
    #fgContact
    class="contact"
    [label]="'forms.candidate.contact.label' | translate"
    [validators]="validators.contact"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.candidate.contact.placeholder' | translate"
      [control]="form.get('contact')"
      (valueChanged)="
        onCheckExist.next({
          key: 'contact',
          group: fgContact,
          message: 'forms.candidate.contact.exists'
        })
      "
    ></text-box>
  </form-group>

  <form-group
    class="country"
    [label]="'forms.candidate.country.label' | translate"
    [validators]="validators.country"
  >
    <select-box
      theme="filled"
      valueKey="value"
      renderKey="key"
      [items]="countries$ | async"
      [placeholder]="'forms.candidate.country.placeholder' | translate"
      [control]="form.get('country')"
    ></select-box>
  </form-group>

  <form-group
    class="status"
    [label]="'forms.candidate.status.label' | translate"
    [validators]="validators.status"
  >
    <select-box
      theme="filled"
      valueKey="value"
      [items]="statuses$ | async"
      [placeholder]="'forms.candidate.status.placeholder' | translate"
      [control]="form.get('status')"
    >
      <ng-container *selectBoxTemplate="let item">
        <span
          class="select-box-status-bullet"
          [style.backgroundColor]="colors[item.value]"
        ></span>
        <span class="select-box-status-name">{{ item.key }}</span>
      </ng-container>
    </select-box>
  </form-group>

  <form-group
    class="profession"
    [label]="'forms.candidate.profession.label' | translate"
    [validators]="validators.profession"
  >
    <autocomplete-box
      theme="filled"
      [items]="professions$ | async"
      [placeholder]="'forms.candidate.profession.placeholder' | translate"
      [control]="form.get('profession')"
    >
    </autocomplete-box>
  </form-group>

  <form-group
    class="rate"
    [label]="'forms.candidate.rate.label' | translate"
    [validators]="validators.rate"
  >
    <rate-box theme="filled" [control]="form.get('rate')"></rate-box>
  </form-group>

  <form-group
    class="experience"
    [label]="'forms.candidate.experience.label' | translate"
    [validators]="validators.experience"
  >
    <time-box
      theme="filled"
      [placeholder]="'forms.candidate.experience.placeholder' | translate"
      [control]="form.get('experience')"
    ></time-box>
  </form-group>

  <form-group
    class="skill"
    [label]="'forms.candidate.skills.label' | translate"
    [validators]="validators.skill"
  >
    <div class="form-group-content">
      <autocomplete-box
        theme="filled"
        [items]="skills$ | async | exclude: formValue?.skills:'':''"
        [placeholder]="'forms.candidate.skills.placeholder' | translate"
        [control]="form.get('skill')"
      >
      </autocomplete-box>
      <stafr-button
        icon="add"
        iconSize="24"
        (clicked)="onSkillAdd()"
      ></stafr-button>
    </div>
  </form-group>

  <ul class="skill-list" *ngIf="formValue?.skills">
    <li *ngFor="let skill of formValue.skills; let idx = index">
      <span>{{ skill }}</span>
      <stafr-button
        icon="delete"
        iconSize="20"
        (clicked)="onSkillRemove(idx)"
      ></stafr-button>
    </li>
  </ul>

  <form-group
    class="attachments"
    [label]="'forms.candidate.attachment.label' | translate"
    [validators]="validators.attachments"
  >
    <file-upload-box
      [maxAmount]="10"
      [maxSize]="10"
      [format]="format"
      [control]="form.get('attachments')"
      attachmentRenderKey="originalName"
    ></file-upload-box>
  </form-group>
</stafr-form>
