@use "src/assets/base" as *;

.client-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.name,
    &.company {
      @include column(50%);
    }

    &.contact {
      @include column(100%);
    }
  }
}
