<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="client-form"
>
  <form-group
    class="name"
    [label]="'forms.client.name.label' | translate"
    [validators]="validators.name"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.client.name.placeholder' | translate"
      [control]="form.get('name')"
    ></text-box>
  </form-group>
  <form-group
    class="company"
    [label]="'forms.client.company.label' | translate"
    [validators]="validators.company"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.client.company.placeholder' | translate"
      [control]="form.get('company')"
    ></text-box>
  </form-group>
  <form-group
    class="contact"
    [label]="'forms.client.contact.label' | translate"
    [validators]="validators.contact"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.client.contact.placeholder' | translate"
      [control]="form.get('contact')"
    ></text-box>
  </form-group>
</stafr-form>
