@use "src/assets/base" as *;

$table-toolbar-vertical-padding: 20px;
$table-footer-vertical-padding: 20px;
$table-horizontal-padding: 30px;

$table-height: calc(
  100vh - #{$header-height} - #{$page-top-offset} - #{$page-bottom-offset} - #{$card-padding *
    2}
);

.stafr-table {
  position: relative;
  display: flex;
  flex-direction: column;
  height: $table-height;

  .table-header {
    display: flex;
    align-items: center;
    padding: 0 $table-horizontal-padding $table-toolbar-vertical-padding
      $table-horizontal-padding;

    .table-actions {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }

    table-pager {
      margin-left: auto;
    }
  }

  .table-body {
    overflow: auto;
    @include v-scrollbar;

    table {
      width: 100%;
      border-spacing: 0 15px;

      tr[role="heading"] th {
        background-color: $white-2;
        height: 50px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: $secondary;
        position: sticky;
        top: 0;

        .table-head {
          display: flex;
          justify-content: center;
          align-items: center;

          .action-btn {
            margin-left: 5px;

            &:last-child {
              margin: 0;

              &.has-filter button {
                background-color: #f4f4f4;
                border-color: #f4f4f4;

                .stafr-icon {
                  color: $primary;
                }
              }
            }

            .stafr-icon {
              @include smoothTransition(transform);
            }

            &.ASC .stafr-icon {
              transform: rotate(-180deg);
            }
          }
        }
      }

      tr:not([role="heading"]) {
        &:hover td {
          background-color: $white-1;
        }

        &:active td {
          background-color: $white-2;
          color: $secondary;
        }

        td {
          background-color: transparent;
          height: 50px;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: $gray-dark;
          cursor: pointer;
          @include smoothTransition(background-color);
          transition-property: background-color, color;
        }
      }

      tr td,
      tr th {
        &:first-child {
          padding-left: $table-horizontal-padding;
          border-radius: 10px 0 0 10px;
        }

        &:last-child {
          padding-right: $table-horizontal-padding;
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .no-filter-results {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 13px;
      line-height: 13px;
      font-style: italic;
      color: $gray-light;
    }
  }

  .table-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $table-footer-vertical-padding $table-horizontal-padding 0
      $table-horizontal-padding;
  }
}
