<div class="stafr-table" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm[1] > 0 || hasFilters; else emptyTpl?.template">
    <div class="table-header">
      <div class="table-actions" *ngIf="actions?.length">
        <ng-container
          *ngFor="let action of actions"
          [ngTemplateOutlet]="action.template"
        ></ng-container>
      </div>
      <table-pager
        *ngIf="vm[1] > pagerOptions[1]"
        [options]="pagerOptions"
        [current]="size"
        [total]="vm[1]"
        (onPagerChange)="onPageSizeChange($event)"
      ></table-pager>
    </div>
    <div class="table-body">
      <table>
        <tr role="heading">
          <th *ngFor="let column of columns">
            <span class="table-head">
              <ng-container
                [ngTemplateOutlet]="column.head.template"
              ></ng-container>
              <stafr-button
                *ngIf="column.head.tableHeadSortBy"
                [ngClass]="column.head.tableHeadSortState"
                class="action-btn"
                [icon]="
                  column.head.tableHeadSortState ? 'chevron-down' : 'unfold'
                "
                (click)="onColumnSort(column.head)"
              ></stafr-button>
              <stafr-button
                *ngIf="column.head.tableHeadFilterBy"
                class="action-btn"
                icon="filter"
                [class.has-filter]="
                  column.head.tableHeadFilterType === 'select'
                    ? column.head.tableHeadFilterValue?.length
                    : column.head.tableHeadFilterValue
                "
                (clicked)="filterOverlay.open()"
              ></stafr-button>
              <ng-template
                overlay
                #filterOverlay="overlay"
                [fallback]="{ top: '33%', left: '50%' }"
              >
                <table-filter
                  [type]="column.head.tableHeadFilterType"
                  [value]="column.head.tableHeadFilterValue"
                  [operand]="column.head.tableHeadFilterOperand"
                  [renderKey]="column.head.tableHeadFilterRenderKey"
                  [valueKey]="column.head.tableHeadFilterValueKey"
                  [items]="column.head.tableHeadFilterItems"
                  (onFilterChange)="
                    onFilter(column.head, $event); filterOverlay.close()
                  "
                ></table-filter>
              </ng-template>
            </span>
          </th>
        </tr>
        <ng-container *ngIf="vm[1] > 0; else noResultsTpl">
          <tr
            *ngFor="let row of vm[0]; let idx = index"
            (click)="onRowClick.emit({ event: $event, data: row, index: idx })"
          >
            <td *ngFor="let column of columns">
              <ng-container
                [ngTemplateOutlet]="column.cell.template"
                [ngTemplateOutletContext]="{ $implicit: row }"
              ></ng-container>
            </td>
          </tr>
        </ng-container>
        <ng-template #noResultsTpl>
          <div class="no-filter-results">
            <span>{{ "modules.table.no-filter-results" | translate }}</span>
          </div>
        </ng-template>
      </table>
    </div>
    <div class="table-footer" *ngIf="vm[1] > size">
      <table-position
        [current]="page"
        [total]="vm[1]"
        [size]="size"
      ></table-position>
      <table-pagination
        [current]="page"
        [total]="vm[1]"
        [size]="size"
        (onPaginationChange)="onPageNumberChange($event)"
      ></table-pagination>
    </div>
  </ng-container>
</div>
