@use "src/assets/base" as *;

%table-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: $secondary-light;
  @include smoothTransition(background-color);

  &:hover,
  &:focus {
    background-color: $white-1;
  }

  &.active,
  &:active {
    background-color: $white-2;
  }

  &.active {
    font-weight: 600;
    cursor: default;
  }

  &:disabled:not(.active) {
    background-color: $state-disabled-background;
    cursor: default;
  }
}
