<stafr-slider
  *ngIf="candidate$ | async as candidate"
  class="view-candidate-page"
  [caption]="'candidates.view.caption' | translate"
  [sub]="
    'candidates.view.sub'
      | translate: { date: candidate.updatedAt | stafrDate: 'time-ago' }
  "
  [opened]="true"
  routeBack="../"
>
  <div class="candidate-header">
    <div class="candidate-meta">
      <h2 class="candidate-name">{{ candidate.name }}</h2>
      <div class="candidate-contact">
        <span> {{ candidate.contact }}</span>
        <stafr-button
          icon="copy"
          iconSize="12"
          (clicked)="onContactCopy(candidate.contact)"
        ></stafr-button>
        <stafr-button
          *ngIf="candidate.contact | isEmail"
          icon="email"
          iconSize="12"
          (clicked)="onContactEmail(candidate.contact)"
        ></stafr-button>
        <stafr-button
          *ngIf="candidate.contact | isUrl"
          icon="open-in-tab"
          iconSize="12"
          (clicked)="onContactUrl(candidate.contact)"
        ></stafr-button>
      </div>
      <stafr-status-box
        class="candidate-status"
        [status]="candidate.status"
      ></stafr-status-box>
    </div>
    <div class="candidate-buttons" *ngIf="canEdit">
      <stafr-button
        [text]="'candidates.view.edit-btn' | translate"
        icon="edit"
        type="secondary-outlined"
        [rounded]="true"
        routerLink="edit"
      ></stafr-button>
      <div class="misc-buttons">
        <stafr-button
          icon="delete-forever"
          iconSize="20"
          [title]="'candidates.view.delete-btn' | translate"
          (clicked)="onCandidateDelete(candidate)"
        ></stafr-button>
      </div>
    </div>
  </div>

  <div class="candidate-rate">
    <h2 class="hourly-rate" [style.color]="colors[candidate.status]">
      {{
        "utils.hourlyRate"
          | translate
            : {
                rate:
                  candidate.rateAmount
                  | stafrCurrency: false:candidate.rateCurrency
              }
      }}
    </h2>
    <h4 class="monthly-rate">
      {{
        "utils.monthlyRate"
          | translate
            : {
                rate:
                  candidate.rateAmount * 160
                  | stafrCurrency: false:candidate.rateCurrency
              }
      }}
    </h4>
  </div>

  <div class="candidate-country">
    <h4 class="candidate-small-caption">
      {{ "candidates.view.country.caption" | translate }}
      {{ candidate.country | mapy: "country" }}
    </h4>
  </div>

  <div class="candidate-experience">
    <h4 class="candidate-small-caption">
      {{ "candidates.view.experience.caption" | translate }}
      {{ candidate.experience | stafrTime }}
    </h4>
  </div>

  <div class="candidate-skills">
    <h4 class="candidate-small-caption">
      {{ candidate.profession }}
    </h4>
    <ul>
      <li *ngFor="let skill of candidate.skills">
        <span>{{ skill }}</span>
      </li>
    </ul>
  </div>

  <div class="candidate-contracts" *ngIf="candidate.contracts?.length">
    <h4 class="candidate-small-caption">
      {{ "candidates.view.contracts.caption" | translate }}
    </h4>
    <div class="contract-box" *ngFor="let contract of candidate.contracts">
      <div class="contract-box-header">
        <h4>#{{ contract.number }}</h4>
        <stafr-status-box [status]="contract.status"></stafr-status-box>
      </div>
      <ul class="contract-box-info">
        <li>
          <span>{{ "candidates.view.contracts.profession" | translate }} </span>
          <span>{{ contract.profession }}</span>
        </li>
        <li>
          <span>{{ "candidates.view.contracts.profit" | translate }} </span>
          <span>
            {{ contract | contractProfit | stafrCurrency }}
          </span>
        </li>
        <li>
          <span>{{ "candidates.view.contracts.company" | translate }} </span>
          <span>{{ contract.client?.company }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="candidate-attachments" *ngIf="candidate.attachments.length">
    <h4 class="candidate-small-caption">
      {{ "candidates.view.attachments.caption" | translate }}
    </h4>
    <ng-container *ngFor="let attachment of candidate.attachments">
      <div class="attachment-box">
        <img
          src="assets/icons/file-{{ attachment.originalName | extension }}.svg"
          aria-hidden="true"
        />
        <a>{{ attachment.originalName }}</a>
        <stafr-button
          icon="download"
          iconSize="24"
          (clicked)="onAttachmentDownload(candidate, attachment)"
        ></stafr-button>
      </div>
    </ng-container>
  </div>

  <div class="candidate-comments">
    <h4 class="candidate-small-caption">
      {{ "candidates.view.comments.caption" | translate }}
    </h4>
    <text-box
      #textBox
      class="input-box"
      type="text"
      [placeholder]="'candidates.view.comments.placeholder' | translate"
      (keyup.enter)="onCommentSubmit(textBox, candidate)"
    ></text-box>

    <div class="comment-box" *ngFor="let comment of candidate.comments">
      <ng-container *ngIf="principal$ | async as principal">
        <stafr-button
          *ngIf="
            !(
              principal.accountRole === AccountRole.HR &&
              comment.author?.id !== principal.accountId
            )
          "
          class="delete-comment-btn"
          icon="delete-forever"
          iconSize="16"
          [title]="'candidates.view.comments.delete-btn' | translate"
          (clicked)="onCommentDelete(candidate, comment)"
        ></stafr-button>
      </ng-container>

      <stafr-avatar
        [name]="comment.author?.fullName"
        [image]="comment.author?.avatar"
        [size]="32"
        [title]="comment.author?.fullName"
      ></stafr-avatar>
      <div class="comment-info">
        <p>{{ comment.message }}</p>
        <small>{{ comment.createdAt | stafrDate: "time-ago" }}</small>
      </div>
    </div>
  </div>
</stafr-slider>

<router-outlet></router-outlet>
