@use "src/assets/base" as *;

.view-candidate-page {
  .candidate-header {
    display: flex;
    justify-content: space-between;

    .candidate-meta {
      .candidate-name {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: $secondary-light;
      }

      .candidate-contact {
        display: flex;
        align-items: center;

        span {
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: $gray-dark;
          @include truncate(200px);
        }

        stafr-button {
          margin-left: 7px;

          stafr-icon {
            color: $gray-dark;
          }
        }
      }

      .candidate-status {
        margin-top: 10px;
        justify-content: flex-start;
      }
    }

    .candidate-buttons .misc-buttons {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      stafr-button .stafr-icon {
        color: $gray;
      }
    }
  }

  .candidate-rate {
    margin-top: 30px;
    padding: 24px;
    background-color: #fbfdff;

    .hourly-rate {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
    }

    .monthly-rate {
      margin-top: 5px;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      color: $secondary-light;
    }
  }

  .candidate-small-caption {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $secondary-light;
  }

  .candidate-skills {
    margin-top: 25px;

    ul {
      li {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          font-weight: normal;
          font-size: 13px;
          line-height: 19px;
          color: $secondary-light;
        }
      }
    }
  }

  .candidate-country,
  .candidate-experience {
    margin-top: 25px;
  }

  .candidate-contracts {
    margin-top: 40px;

    .contract-box {
      margin-top: 15px;
      padding: 20px 30px;
      border: 1px solid $gray-white;
      border-radius: 12px;

      .contract-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: $secondary-light;
        }
      }

      .contract-box-info {
        li {
          display: flex;
          align-items: center;
          margin-top: 10px;

          span {
            font-size: 13px;
            line-height: 19px;
            color: $secondary-light;

            &:first-child {
              font-weight: 500;
            }

            &:last-child {
              font-weight: 400;
              margin-left: 3px;
            }
          }
        }
      }
    }
  }

  .candidate-attachments {
    margin-top: 40px;

    .attachment-box {
      margin-top: 15px;
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
      }

      a {
        margin-left: 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: $secondary-light;
      }

      stafr-button {
        margin-left: auto;

        .stafr-icon {
          color: $gray-dark;
        }
      }
    }
  }

  .candidate-comments {
    margin-top: 40px;
    margin-bottom: 50px;

    .input-box {
      margin-top: 14px;
    }

    .comment-box {
      position: relative;
      margin-top: 25px;
      display: flex;
      align-items: flex-start;

      &:hover .delete-comment-btn {
        opacity: 1;
      }

      .delete-comment-btn {
        position: absolute;
        right: 4px;
        top: 4px;
        @include smoothTransition(opacity);
        opacity: 0;
      }

      .comment-info {
        margin-left: 15px;

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: $secondary-light;
        }

        small {
          margin-top: 3px;
          font-weight: normal;
          font-size: 12px;
          line-height: 18px;
          color: $gray-dark;
        }
      }
    }
  }
}
