<stafr-dialog
  #dialog
  [caption]="'contracts.create.caption' | translate"
  [opened]="true"
  minWidth="660px"
  maxWidth="660px"
  routeBack="../"
>
  <section-contract-form
    #formComponent
    [form]="form"
    (submitted)="onSubmit($event)"
  ></section-contract-form>
  <ng-container *dialogAction="'between'">
    <stafr-form [form]="pageForm">
      <form-group class="create-another-contract">
        <check-box [control]="pageForm.get('createAnother')">
          {{ "contracts.create.createAnother" | translate }}
        </check-box>
      </form-group>
    </stafr-form>
    <stafr-button
      type="primary"
      [text]="'contracts.create.submit' | translate"
      (clicked)="formComponent.submit()"
    ></stafr-button>
  </ng-container>
</stafr-dialog>
