<div class="register-page">
  <h3 class="title">
    {{ "auth.register.caption" | translate }}
  </h3>
  <p class="subtitle">
    {{ "auth.register.subtitle" | translate }}
  </p>

  <stafr-form #formComponent [form]="form" (submitted)="onSubmit($event)">
    <form-group
      [label]="'auth.register.businessName.label' | translate"
      [validators]="validators.businessName"
    >
      <text-box
        type="text"
        [control]="form.get('businessName')"
        [placeholder]="'auth.register.businessName.placeholder' | translate"
      ></text-box>
    </form-group>
    <form-group
      [label]="'auth.register.fullName.label' | translate"
      [validators]="validators.fullName"
    >
      <text-box
        type="text"
        [control]="form.get('fullName')"
        [placeholder]="'auth.register.fullName.placeholder' | translate"
      ></text-box>
    </form-group>
    <form-group
      [label]="'auth.register.email.label' | translate"
      [validators]="validators.email"
    >
      <text-box
        type="email"
        [control]="form.get('email')"
        [placeholder]="'auth.register.email.placeholder' | translate"
      ></text-box>
    </form-group>
    <form-group
      [label]="'auth.register.password.label' | translate"
      [validators]="validators.password"
    >
      <text-box
        type="password"
        [control]="form.get('password')"
        [placeholder]="'auth.register.password.placeholder' | translate"
      ></text-box>
    </form-group>
    <form-group
      class="agreement-form-group"
      [validators]="validators.agreement"
    >
      <check-box [control]="form.get('agreement')">
        {{ "auth.register.agreement.label" | translate }}
        <a routerLink="/terms-and-conditions">
          {{ "auth.register.agreement.link" | translate }}
        </a>
      </check-box>
    </form-group>
  </stafr-form>

  <stafr-button
    type="primary"
    [fluid]="true"
    [text]="'auth.register.submit' | translate"
    (clicked)="formComponent.submit()"
  ></stafr-button>

  <p class="help-message">
    {{ "auth.register.help.label" | translate }}
    <a routerLink="/auth/login">
      {{ "auth.register.help.link" | translate }}
    </a>
  </p>
</div>
