@use "src/assets/base" as *;

.register-page {
  width: 320px;

  .title {
    @extend %header-3;
  }

  .subtitle {
    @extend %paragraph;
  }

  .stafr-form {
    margin-top: 35px;
    margin-bottom: 30px;

    .agreement-form-group .form-group a {
      text-decoration: underline;
    }
  }

  a {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    @include colorState($primary);
    @include smoothTransition(color);
  }

  .help-message {
    margin-top: 30px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: $secondary-light;
  }
}
