@use "src/assets/base" as *;

.invite-form form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  form-group {
    &.email {
      @include column(55%);
    }

    &.role {
      @include column(45%);
    }
  }
}

.select-box-role-name {
  margin-left: 8px;
  font-size: $form-element-font-size;
  font-weight: $form-element-font-weight;
  color: $form-element-font-color;
  line-height: 48px;
  @include truncate;
}

.select-box-role-bullet {
  @include circle(10px);
}
