@use "src/assets/base" as *;

stafr-status-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .stafr-status-box {
    padding: 0 12px;
    height: 22px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;

    .status-circle {
      @include circle(8px);
      margin-right: 5px;
      background-color: currentColor;
    }
  }
}
