<stafr-card>
  <stafr-table [source]="source$" (onRowClick)="onRowClick($event)">
    <stafr-button
      *tableAction
      icon="add"
      iconSize="24"
      type="white"
      routerLink="create"
      [text]="'candidates.list.create-btn' | translate"
      [rounded]="true"
    ></stafr-button>
    <div class="no-candidates" *tableEmpty>
      <img src="assets/illustrations/no-candidates.svg" alt="" />
      <h1>{{ "candidates.no-data.caption" | translate }}</h1>
      <p>{{ "candidates.no-data.message" | translate }}</p>
      <stafr-button
        icon="add"
        iconSize="24"
        type="secondary-outlined"
        routerLink="create"
        [text]="'candidates.no-data.create-btn' | translate"
        [rounded]="true"
      ></stafr-button>
    </div>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.number';
          filterBy: 'candidate.number';
          filterType: 'number'
        "
      >
        {{ "candidates.list.no" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.number }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.name';
          filterBy: 'candidate.name';
          filterType: 'string'
        "
      >
        {{ "candidates.list.name" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.name }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.profession';
          filterBy: 'candidate.profession';
          filterType: 'string'
        "
      >
        {{ "candidates.list.profession" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">{{ row.profession }} </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.status';
          filterBy: 'candidate.status';
          filterType: 'select';
          filterValue: [];
          filterItems: statuses$ | async;
          filterRenderKey: 'key';
          filterValueKey: 'value'
        "
      >
        {{ "candidates.list.status" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        <stafr-status-box [status]="row.status"></stafr-status-box>
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.rateAmount';
          filterBy: 'candidate.rateAmount';
          filterType: 'number'
        "
      >
        {{ "candidates.list.rate" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.rateAmount | stafrCurrency: false:row.rateCurrency }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.experience';
          filterBy: 'candidate.experience';
          filterType: 'time'
        "
      >
        {{ "candidates.list.experience" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ (row.experience | stafrTime) || "-" }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.country';
          filterBy: 'candidate.country';
          filterType: 'select';
          filterValue: [];
          filterItems: countries$ | async;
          filterRenderKey: 'key';
          filterValueKey: 'value'
        "
      >
        {{ "candidates.list.country" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.country | mapy: "country" }}
      </ng-container>
    </ng-container>
    <ng-container tableColumn>
      <ng-container
        *tableHead="
          '';
          sortBy: 'candidate.createdAt';
          filterBy: 'candidate.createdAt';
          filterType: 'date'
        "
      >
        {{ "candidates.list.createdAt" | translate }}
      </ng-container>
      <ng-container *tableCell="let row">
        {{ row.createdAt | stafrDate: "full-date" }}
      </ng-container>
    </ng-container>
  </stafr-table>
</stafr-card>

<router-outlet></router-outlet>
