<div
  fileDrop
  class="file-upload-box"
  [ngClass]="formStyle"
  [class.error]="error"
  (drop)="setFiles($event.dataTransfer.files)"
>
  <div class="meta">
    <stafr-icon icon="upload" size="24"></stafr-icon>
    <span>
      {{ error || "modules.file-upload-box.drag-message" | translate }}
      <a (click)="browse()">
        {{ "modules.file-upload-box.browse" | translate }}
      </a>
    </span>
  </div>
</div>

<ng-container *ngIf="(valueChanges | async) || true">
  <div class="list-box" *ngIf="value?.files || value?.attachments">
    <ul>
      <li *ngFor="let file of value.files; let idx = index">
        <img
          src="assets/icons/file-{{ file.name | extension }}.svg"
          aria-hidden="true"
        />
        <span>{{ file.name }}</span>
        <stafr-button
          icon="delete"
          iconSize="20"
          (clicked)="onFileDelete(idx)"
        ></stafr-button>
      </li>
      <li *ngFor="let attachment of value.attachments; let idx = index">
        <ng-container
          *ngIf="attachment | perforate: attachmentRenderKey as attachmentName"
        >
          <img
            src="assets/icons/file-{{ attachmentName | extension }}.svg"
            aria-hidden="true"
          />
          <span>{{ attachmentName }}</span>
          <stafr-button
            icon="delete-forever"
            iconSize="20"
            (clicked)="onAttachmentDelete(idx)"
          ></stafr-button>
        </ng-container>
      </li>
    </ul>
  </div>
</ng-container>
