@use "src/assets/base" as *;

file-upload-box {
  display: block;

  .file-upload-box {
    height: 125px;
    width: 100%;
    background-color: #fafbff;
    border: 1px dashed #aeccff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.file-over:not(.disabled) {
      background-color: #f5f7ff;
    }

    &.error:not(.disabled) {
      background-color: #fffafa;
      border-color: $state-error-border;
      box-shadow: $state-error-shadow;
    }

    &.disabled {
      background-color: $state-disabled-background;
      border-color: $state-disabled-border;
      box-shadow: none;
      cursor: default;

      * {
        cursor: default;
        pointer-events: none;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
      align-items: center;

      stafr-icon {
        color: $gray;
        margin-bottom: 10px;
      }

      span {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $gray-light;

        a {
          cursor: pointer;
          font-weight: 500;
          font-size: inherit;
          line-height: inherit;
          color: $primary;
        }
      }
    }
  }

  .list-box {
    margin-top: 20px;

    ul {
      li {
        display: flex;
        align-items: center;

        + li {
          margin-top: 15px;
        }

        img {
          width: 32px;
          height: 32px;
        }

        > span {
          margin-left: 10px;
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          color: $secondary-light;
          @include truncate;
        }

        stafr-button {
          margin-left: auto;

          .stafr-icon {
            color: $gray-dark;
          }
        }
      }
    }
  }
}
