<div
  *ngIf="!value?.image; else imageTpl"
  fileDrop
  class="image-box"
  [ngClass]="formStyle"
  (drop)="setFiles($event.dataTransfer.files)"
>
  <div class="meta">
    <stafr-icon icon="upload" size="24"></stafr-icon>
    <span>
      <a (click)="browse()">
        {{ "modules.image-box.browse" | translate }}
      </a>
    </span>
  </div>
</div>

<ng-template #imageTpl>
  <div
    class="image-box-value"
    [style.backgroundImage]="'url(' + value.image + ')'"
  >
    <stafr-button
      icon="close"
      iconSize="16"
      (clicked)="clearValue()"
    ></stafr-button>
  </div>
</ng-template>
