@use "src/assets/base" as *;

%box {
  width: 100px;
  height: 100px;
  border-radius: 6px;
}

image-box {
  display: block;
  padding-top: 10px;

  .image-box-value {
    @extend %box;
    @include elevate(2);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    stafr-button {
      position: absolute;
      top: -16px;
      right: -16px;
    }
  }

  .image-box {
    @extend %box;
    background-color: #fafbff;
    border: 1px dashed #aeccff;
    display: flex;
    align-items: center;
    justify-content: center;

    &.file-over:not(.disabled) {
      background-color: #f5f7ff;
    }

    &.error:not(.disabled) {
      background-color: #fffafa;
      border-color: $state-error-border;
      box-shadow: $state-error-shadow;
    }

    &.disabled {
      background-color: $state-disabled-background;
      border-color: $state-disabled-border;
      box-shadow: none;
      cursor: default;

      * {
        cursor: default;
        pointer-events: none;
      }
    }

    .meta {
      display: flex;
      flex-direction: column;
      align-items: center;

      stafr-icon {
        color: $gray;
        margin-bottom: 10px;
      }

      span {
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $gray-light;

        a {
          cursor: pointer;
          font-weight: 500;
          font-size: inherit;
          line-height: inherit;
          color: $primary;
        }
      }
    }
  }
}
