<stafr-form
  *ngIf="form"
  [form]="form"
  (submitted)="submitted.emit($event)"
  class="business-settings"
>
  <form-group class="logo" [validators]="validators.logo">
    <image-box [control]="form.get('logo')"></image-box>
  </form-group>

  <form-group
    class="name"
    [label]="'forms.business-settings.name.label' | translate"
    [validators]="validators.name"
  >
    <text-box
      type="text"
      theme="filled"
      [placeholder]="'forms.business-settings.name.placeholder' | translate"
      [control]="form.get('name')"
    ></text-box>
  </form-group>
</stafr-form>
