<ul class="section-activities">
  <li *ngFor="let activity of activities">
    <div class="activity-box">
      <stafr-avatar
        [name]="activity.author?.fullName"
        [image]="activity.author?.avatar"
        size="32"
      ></stafr-avatar>
      <div class="activity-details">
        <label
          (click)="onLabelClick($event)"
          [innerHTML]="
            'activity.'.concat(activity.action)
              | translate
                : {
                    user:
                      activity.author?.fullName ||
                      ('common.deleted-user' | translate),
                    id: activity.data?.id,
                    name: activity.data?.name
                  }
              | safeHtml
          "
        >
        </label>
        <small class="activity-createdAt">
          {{ activity.createdAt | stafrDate: "time-ago" }}
        </small>
      </div>
    </div>

    <span class="connector-line"></span>
  </li>
</ul>
