@use "src/assets/base" as *;

section-activities-view {
  display: block;

  .section-activities {
    li {
      + li {
        padding-top: 13px;
      }

      .activity-box {
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom: 13px;

        .activity-details {
          margin-left: 10px;
          position: relative;

          label {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: $gray-dark;

            b {
              font-weight: 600;

              &:first-child {
                color: $secondary;
              }

              &[data-link] {
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }

          .activity-createdAt {
            position: absolute;
            bottom: -13px;
            font-weight: normal;
            font-size: 10px;
            line-height: 13px;
            color: $gray;
          }
        }
      }

      .connector-line {
        display: block;
        width: 1px;
        background-color: $gray-white;
        height: 30px;
        margin-left: 16px;
      }

      &:last-child .connector-line {
        display: none;
      }
    }
  }
}
