@use "src/assets/base" as *;

.main-wrapper {
  min-height: 100vh;
  background: linear-gradient(68.74deg, #f6f8fa 0%, #eef6fd 99.19%);

  .main-page {
    padding: $header-height + $page-top-offset $page-right-offset
      $page-bottom-offset $sidebar-width + $page-left-offset;
    min-height: 100vh;
  }
}
