<main class="main-wrapper">
  <stafr-header></stafr-header>
  <stafr-sidebar></stafr-sidebar>
  <div class="main-page">
    <router-outlet></router-outlet>
  </div>
</main>

<stafr-overlay></stafr-overlay>
<stafr-alert></stafr-alert>
