<stafr-form *ngIf="form" [form]="form" (submitted)="submitted.emit($event)">
  <form-group
    [label]="'forms.account-create.businessName.label' | translate"
    [validators]="validators.businessName"
  >
    <text-box
      type="text"
      [placeholder]="
        'forms.account-create.businessName.placeholder' | translate
      "
      [control]="form.get('businessName')"
    ></text-box>
  </form-group>
  <form-group
    [label]="'forms.account-create.fullName.label' | translate"
    [validators]="validators.fullName"
  >
    <text-box
      type="text"
      [placeholder]="'forms.account-create.fullName.placeholder' | translate"
      [control]="form.get('fullName')"
    ></text-box>
  </form-group>
</stafr-form>
