@use "src/assets/base" as *;

.stafr-sidebar {
  @include fixed($header-height, auto, 0, 0);
  width: $sidebar-width;

  ul {
    margin-top: 20vh;
    width: 100%;
    padding: 30px;

    li {
      button {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        @include smoothTransition(background-color);
        transition-property: background-color, color;
        background-color: transparent;
        color: $gray-dark;
        border-radius: 10px;

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.7);
        }

        &.active {
          background-color: $primary;
          color: white;
        }

        span {
          display: block;
          margin-left: 18px;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
      }

      + li {
        margin-top: 10px;
      }
    }
  }
}
