<aside class="stafr-sidebar">
  <ul>
    <ng-container *ngFor="let item of menu">
      <li *rbac="item.userRoles; accounts: item.accountRoles">
        <button
          [routerLink]="item.route"
          [routerLinkActiveOptions]="{ exact: item.route === '/' }"
          routerLinkActive="active"
        >
          <stafr-icon size="24" [icon]="item.icon"></stafr-icon>
          <span>{{ item.label | translate }}</span>
        </button>
      </li>
    </ng-container>
  </ul>
</aside>
