<form
  class="stafr-form"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  autocomplete="off"
>
  <ng-content></ng-content>
  <button #submitter type="submit" aria-hidden="true" tabindex="-1"></button>
</form>
