@use "src/assets/base" as *;

.join-page {
  width: 320px;

  .title {
    @extend %header-3;
  }

  .subtitle {
    @extend %paragraph;
  }

  .stafr-form {
    margin-top: 35px;
    margin-bottom: 30px;

    .agreement-form-group .form-group a {
      text-decoration: underline;
    }
  }

  a {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    @include colorState($primary);
    @include smoothTransition(color);
  }
}

.join-page-no-invitation {
  .title {
    @extend %header-3;
    text-align: center;
  }

  .subtitle {
    @extend %paragraph;
    text-align: center;
  }

  img {
    margin-top: 30px;
    width: 100%;
    height: auto;
  }
}
