<div
  class="join-page"
  *ngIf="invitation$ | async as invitation; else noInvitationTpl"
>
  <h3 class="title">
    {{ "auth.join.caption" | translate }}
  </h3>
  <p class="subtitle">
    {{
      "auth.join.subtitle" | translate: { businessName: invitation.business }
    }}
  </p>

  <stafr-form
    #formComponent
    [form]="form"
    (submitted)="onSubmit($event, invitation)"
  >
    <form-group
      [label]="'auth.join.fullName.label' | translate"
      [validators]="validators.fullName"
    >
      <text-box
        type="text"
        [control]="form.get('fullName')"
        [placeholder]="'auth.join.fullName.placeholder' | translate"
      ></text-box>
    </form-group>
    <ng-container *ngIf="!invitation.inSystem">
      <form-group
        [label]="'auth.join.password.label' | translate"
        [validators]="validators.password"
      >
        <text-box
          type="password"
          [control]="form.get('password')"
          [placeholder]="'auth.join.password.placeholder' | translate"
        ></text-box>
      </form-group>
      <form-group
        class="agreement-form-group"
        [validators]="validators.agreement"
      >
        <check-box [control]="form.get('agreement')">
          {{ "auth.join.agreement.label" | translate }}
          <a routerLink="/terms-and-conditions">
            {{ "auth.join.agreement.link" | translate }}
          </a>
        </check-box>
      </form-group>
    </ng-container>
  </stafr-form>

  <stafr-button
    type="primary"
    [fluid]="true"
    [text]="'auth.join.submit' | translate"
    (clicked)="formComponent.submit()"
  ></stafr-button>
</div>

<ng-template #noInvitationTpl>
  <div class="join-page-no-invitation">
    <h3 class="title">
      {{ "auth.join.no-invitation.caption" | translate }}
    </h3>
    <p class="subtitle">
      {{ "auth.join.no-invitation.subtitle" | translate }}
    </p>
    <img src="assets/illustrations/invitations.svg" alt="" />
  </div>
</ng-template>
