@use "../filter.variables" as *;

.table-date-filter {
  @extend %default-filter;

  input {
    position: relative;

    &[type="date"]::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}
