@use "src/assets/base" as *;

.stafr-overlay .overlay-container.stafr-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.stafr-dialog {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: 95vh;

  .stafr-dialog-header {
    padding: 30px 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .stafr-dialog-caption {
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: $secondary;
    }

    .stafr-dialog-line {
      margin-top: 20px;
      display: block;
      width: 70px;
      height: 1px;
      background-color: $gray-white;
    }

    .stafr-dialog-close {
      @include absolute(24px, 24px);

      .stafr-button .stafr-icon {
        color: $gray;
      }
    }
  }

  .stafr-dialog-content {
    padding: 10px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    @include v-scrollbar;

    &.has-actions {
      padding: 10px 40px;
    }

    > * {
      width: 100%;
    }
  }

  .stafr-dialog-actions {
    padding: 30px 40px;
    border-top: 1px solid $gray-white;
    display: flex;
    align-items: center;
    justify-content: center;

    &.between {
      justify-content: space-between;
    }

    &.end {
      justify-content: flex-end;
    }
  }
}
