<ng-template
  overlay
  #overlay="overlay"
  overlayClass="stafr-dialog-overlay"
  [overlayClose]="false"
  (closedOverlay)="closed.emit()"
>
  <div
    class="stafr-dialog"
    [style.minWidth]="minWidth"
    [style.maxWidth]="maxWidth"
  >
    <header class="stafr-dialog-header">
      <h1 class="stafr-dialog-caption">{{ caption }}</h1>
      <span class="stafr-dialog-line"></span>
      <stafr-button
        class="stafr-dialog-close"
        icon="close"
        iconSize="24"
        (clicked)="close()"
      ></stafr-button>
    </header>
    <div class="stafr-dialog-content" [class.has-actions]="action?.template">
      <ng-content></ng-content>
    </div>
    <div
      class="stafr-dialog-actions"
      *ngIf="action?.template"
      [ngClass]="action?.dialogAction"
    >
      <ng-container [ngTemplateOutlet]="action.template"></ng-container>
    </div>
  </div>
</ng-template>
