<div class="login-page">
  <h3 class="title">
    {{ "auth.login.caption" | translate }}
  </h3>
  <p class="subtitle">
    {{ "auth.login.subtitle" | translate }}
  </p>

  <stafr-form #formComponent [form]="form" (submitted)="onSubmit($event)">
    <form-group
      [label]="'auth.login.email.label' | translate"
      [validators]="validators.email"
    >
      <text-box
        type="email"
        [control]="form.get('email')"
        [placeholder]="'auth.login.email.placeholder' | translate"
      ></text-box>
    </form-group>
    <form-group
      [label]="'auth.login.password.label' | translate"
      [validators]="validators.password"
    >
      <text-box
        type="password"
        [control]="form.get('password')"
        [placeholder]="'auth.login.password.placeholder' | translate"
      ></text-box>
    </form-group>
    <form-group class="remember-form-group" [validators]="validators.remember">
      <check-box [control]="form.get('remember')">
        {{ "auth.login.remember" | translate }}
      </check-box>
      <a routerLink="/auth/forgot-password">
        {{ "auth.login.forgot-password" | translate }}
      </a>
    </form-group>
  </stafr-form>

  <stafr-button
    type="primary"
    [fluid]="true"
    [text]="'auth.login.submit' | translate"
    (clicked)="formComponent.submit()"
  ></stafr-button>

  <p class="help-message">
    {{ "auth.login.help.label" | translate }}
    <a routerLink="/auth/register">
      {{ "auth.login.help.link" | translate }}
    </a>
  </p>
</div>
