@use "src/assets/base" as *;

stafr-search {
  display: block;
  position: relative;

  .stafr-search-box {
    position: relative;
    width: 100%;
    height: 40px;

    .stafr-icon {
      @include absolute(8px, auto, auto, 15px);
      color: $gray;
      pointer-events: none;
    }

    input {
      width: 100%;
      height: 100%;
      padding: 0 54px;
      font-size: 14px;
      line-height: 20px;
      color: $secondary-light;
      border: none;
      background: transparent;

      &::placeholder {
        color: $gray-light;
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: $gray-light;
      }

      &::-ms-input-placeholder {
        color: $gray-light;
      }
    }
  }

  .stafr-search-results {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
    padding: 10px 0 15px;

    li {
      + li {
        margin-top: 5px;
      }

      button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 44px;
        padding: 6px 20px;
        text-align: left;
        @include smoothTransition(background-color);

        &:hover {
          background-color: #fcfcfc;
        }

        &:active,
        &:focus {
          background-color: #f6f8fa;
        }

        img {
          height: 32px;
          width: 32px;
        }

        .search-meta {
          margin-left: 10px;

          span {
            display: block;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            color: $secondary-light;
          }

          small {
            margin-top: 3px;
            display: block;
            font-weight: normal;
            font-size: 11px;
            line-height: 12px;
            color: $gray;
          }
        }
      }
    }
  }
}
