<div class="stafr-search-box" (click)="$event.stopPropagation(); open()">
  <stafr-icon icon="search" size="24"></stafr-icon>
  <input
    type="text"
    [placeholder]="'header.search.placeholder' | translate"
    [ngModel]="''"
    (ngModelChange)="term$.next($event)"
  />
</div>

<ng-container *ngIf="items$ | async as items">
  <ul
    *ngIf="items.length && opened$ | async"
    class="stafr-search-results"
    (click)="$event.stopPropagation()"
  >
    <li *ngFor="let item of items">
      <ng-container [ngSwitch]="item.type">
        <ng-container *ngSwitchCase="SearchType.Candidate">
          <button [routerLink]="['/candidates', item.id]" (click)="close()">
            <stafr-avatar [name]="item.name" [size]="32"></stafr-avatar>
            <div class="search-meta">
              <span>{{ item.name }}</span>
              <small>{{ "enum.".concat(item.type) | translate }}</small>
            </div>
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="SearchType.Client">
          <button [routerLink]="['/clients', item.id]" (click)="close()">
            <stafr-avatar [name]="item.name" [size]="32"></stafr-avatar>
            <div class="search-meta">
              <span>{{ item.name }}</span>
              <small>{{ "enum.".concat(item.type) | translate }}</small>
            </div>
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="SearchType.Order">
          <button [routerLink]="['/orders', item.id]" (click)="close()">
            <img src="assets/icons/document.svg" alt="" />
            <div class="search-meta">
              <span>{{ item.name }}</span>
              <small>{{ "enum.".concat(item.type) | translate }}</small>
            </div>
          </button>
        </ng-container>
      </ng-container>
    </li>
  </ul>
</ng-container>
