@use "src/assets/base" as *;

.dashboard-hr-chart {
  h4 {
    @extend %card-title;
  }

  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: $secondary;
    margin-bottom: 10px;
    @include truncate;
  }
}
