@use "src/assets/base" as *;

stafr-chart {
  display: block;

  .stafr-chart {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 15px;
    overflow-x: auto;
    @include h-scrollbar(0);

    .chart-bar-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      &:hover small {
        color: $gray-dark;
      }

      .chart-bar-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .chart-bar {
          position: relative;
          cursor: pointer;
          @include smoothTransition(background-color);
          background-color: #e6e9ef;

          + .chart-bar {
            margin-top: 1px;
          }

          &:hover {
            box-shadow: 0 3px 10px rgba(5, 95, 252, 0.15);
            background-color: currentColor;
          }

          &:first-child {
            border-radius: 6px 6px 0 0;
          }

          &:last-child {
            border-radius: 0 0 6px 6px;
          }

          &:only-child {
            border-radius: 6px;
          }
        }
      }

      small {
        cursor: default;
        display: block;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        color: $gray-light;
        margin-top: 5px;
        @include smoothTransition(color);
      }
    }
  }
}
