<figure #chartBars class="stafr-chart" [style.height.px]="chartHeight">
  <div class="chart-bar-container" *ngFor="let bar of bars">
    <div class="chart-bar-wrapper" [style.width.px]="barWidth">
      <ng-container *ngFor="let bv of bar.values">
        <div
          *ngIf="bv.value"
          class="chart-bar"
          [tooltip]="bv.valueString"
          [style.height]="bv.value"
          [style.color]="bv.color"
        ></div>
      </ng-container>
    </div>

    <small>{{ bar.name }}</small>
  </div>
</figure>
