@use "src/assets/base" as *;

dashboard-system-businesses {
  height: 100%;
  display: flex;
  flex-direction: column;

  .dashboard-system-businesses-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      @extend %card-title;
    }
  }

  .dashboard-system-businesses-table {
    margin-top: 10px;
    height: 100%;
    overflow: auto;
    @include v-scrollbar();

    table {
      @extend %card-table;
    }
  }

  .dashboard-system-businesses-empty {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 210px;
      width: auto;
    }
  }
}
