<ng-container *ngIf="businesses?.length; else empty">
  <div class="dashboard-system-businesses-header">
    <h4>{{ "dashboard.system-businesses.caption" | translate }}</h4>
  </div>

  <div class="dashboard-system-businesses-table">
    <table>
      <tr>
        <th>
          {{ "dashboard.system-businesses.id" | translate }}
        </th>
        <th>
          {{ "dashboard.system-businesses.name" | translate }}
        </th>
        <th>
          {{ "dashboard.system-businesses.createdAt" | translate }}
        </th>
      </tr>
      <tr *ngFor="let business of businesses">
        <td>{{ business.id }}</td>
        <td>{{ business.name }}</td>
        <td>
          {{ business.createdAt | stafrDate: "full-date" }}
        </td>
      </tr>
    </table>
  </div>
</ng-container>

<ng-template #empty>
  <div class="dashboard-system-businesses-header">
    <h4>{{ "dashboard.system-businesses.no-businesses" | translate }}</h4>
  </div>
  <figure class="dashboard-system-businesses-empty">
    <img src="assets/illustrations/document.svg" alt="No Businesses Image" />
  </figure>
</ng-template>
