@use "src/assets/base" as *;

%select-box-container {
  overflow-x: hidden;
  overflow-y: auto;
  @include v-scrollbar;
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  background-color: #ffffff;
  border: 1px solid $gray-white;
  padding: 10px 0;

  li {
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    + li {
      margin-top: 5px;
    }

    &:hover,
    &:focus {
      background-color: $white-1;
    }

    &:active {
      background-color: $white-2;
    }
  }
}
