@use "src/assets/base" as *;

.stafr-tooltip {
  padding: 11px 25px;
  background-color: $secondary;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  z-index: 100000;

  &.inverse:after {
    bottom: auto;
    top: -5px;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: 12px;
    width: 12px;
    height: 12px;
    transform: rotate(-45deg);
    border-radius: 3px;
    background-color: $secondary;
  }
}
