@use "src/assets/base" as *;

.view-team-invitations-page {
  .invitations-header {
    display: flex;
    justify-content: center;
  }

  .invitations-table {
    margin-top: 30px;
    @extend %card-table;

    .invitations-actions {
      display: flex;
      align-items: center;

      stafr-button + stafr-button {
        margin-left: 5px;
      }
    }
  }

  .no-invitations {
    margin-top: 30px;

    > h3 {
      text-align: center;
      font-size: 13px;
      line-height: 18px;
      color: $gray-dark;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
