<stafr-slider
  class="view-team-invitations-page"
  [caption]="'team.invitations.caption' | translate"
  [opened]="true"
  routeBack="../"
>
  <div class="invitations-header">
    <stafr-button
      [text]="'team.invitations.invite-btn' | translate"
      icon="add-person"
      type="secondary-outlined"
      [rounded]="true"
      routerLink="create"
    ></stafr-button>
  </div>

  <ng-container *ngIf="invitations$ | async as invitations">
    <table
      *ngIf="invitations.length; else noInvitationsTpl"
      class="invitations-table"
    >
      <tr>
        <th>{{ "team.invitations.email" | translate }}</th>
        <th>{{ "team.invitations.role" | translate }}</th>
        <th></th>
      </tr>
      <tr *ngFor="let invitation of invitations">
        <td>{{ invitation.email }}</td>
        <td>{{ "enum.".concat(invitation.role) | translate }}</td>
        <td>
          <div class="invitations-actions">
            <stafr-button
              icon="resend"
              iconSize="16"
              (clicked)="resend(invitation)"
            ></stafr-button>
            <stafr-button
              icon="delete"
              iconSize="16"
              (clicked)="delete(invitation)"
            ></stafr-button>
          </div>
        </td>
      </tr>
    </table>
  </ng-container>

  <ng-template #noInvitationsTpl>
    <div class="no-invitations">
      <h3>{{ "team.invitations.no-invitations" | translate }}</h3>
      <img src="assets/illustrations/invitations.svg" alt="" />
    </div>
  </ng-template>
</stafr-slider>

<router-outlet></router-outlet>
