<div class="form-group" *ngIf="component">
  <div *ngIf="label" class="form-label">
    <label [for]="component.name">{{ label }}</label>
  </div>
  <ng-content></ng-content>
  <span *ngIf="message" class="form-group-validation" [ngClass]="state">
    {{ message }}
  </span>
</div>
