@use "src/assets/base" as *;

.form-group {
  margin-bottom: 20px;

  .form-label {
    margin-bottom: 8px;

    label {
      font-size: $form-label-font-size;
      line-height: $form-label-font-height;
      font-weight: $form-label-font-weight;
      color: $form-label-font-color;
    }
  }

  .form-group-validation {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;

    &.error {
      color: $state-error;
    }

    &.warning {
      color: $state-warning;
    }

    &.success {
      color: $state-success;
    }
  }
}
