@use "src/assets/base" as *;

%default-filter {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;

  .operand-btn {
    flex-shrink: 0;
  }

  > input {
    width: 100%;
    height: 40px;
    margin: 0 12px;
    padding: 0 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $secondary-light;
    border: none;

    &::placeholder {
      color: $gray-light;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $gray-light;
    }

    &::-ms-input-placeholder {
      color: $gray-light;
    }
  }

  .close-btn {
    flex-shrink: 0;
  }
}
