@use "src/assets/base" as *;

.table-filter {
  display: flex;
  align-items: center;
  width: 50vw;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 6px 32px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  > * {
    display: block;
    width: 100%;
  }
}
