<div class="table-filter">
  <ng-container [ngSwitch]="type">
    <table-date-filter
      *ngSwitchCase="'date'"
      [value]="value"
      [operand]="operand || 'eq'"
      (onFilterChange)="onFilterChange.emit($event)"
    ></table-date-filter>
    <table-number-filter
      *ngSwitchCase="'number'"
      [value]="value"
      [operand]="operand || 'eq'"
      (onFilterChange)="onFilterChange.emit($event)"
    ></table-number-filter>
    <table-time-filter
      *ngSwitchCase="'time'"
      [value]="value"
      [operand]="operand || 'eq'"
      (onFilterChange)="onFilterChange.emit($event)"
    ></table-time-filter>
    <table-select-filter
      *ngSwitchCase="'select'"
      [items]="items"
      [renderKey]="renderKey"
      [valueKey]="valueKey"
      [value]="value"
      (onFilterChange)="onFilterChange.emit($event)"
    ></table-select-filter>
    <table-string-filter
      *ngSwitchCase="'string'"
      [value]="value"
      (onFilterChange)="onFilterChange.emit($event)"
    ></table-string-filter>
  </ng-container>
</div>
